[2017-12-13 18:28] dfishburn opened #1 "Menu?"
Have by chance added your mappings to a menu?
For the amount of time I spent in an .md file, I doubt I would remember the mappings.
Both Vim and gVim support menus.
The nice thing about gVim is you can tear off the menu and leave it beside your window.
I do this in several of my plugins, dbext.vim has a good example if you are interested.

[2017-12-13 19:58] SidOfc commented on #1
Hi there!

I'm not exactly sure what you mean by "added your mappings to a menu".
Could you reference a Vim `:h` keyword so I can find out about this?
Also, could you include a screenshot of what you are looking for?

[2017-12-22 05:55] paxtemper opened #2 "Checkbox improvements"
It will be nice to have some checkbox highlighting for different state of it. Maybe default is to use colors from colorsheme, but have optional settings to set list of hexadecimal colors for each mark of checkbox.

Second i want command for toggle checkbox line, not only mark.

[2017-12-22 06:18] paxtemper opened #3 "Numbered list error"
This happen when i have numbered list, and when i manual change some item in list for making changes to insert submember items.

[code]

[2017-12-22 07:20] paxtemper opened #4 "WrapText missing endif"
When i tray to wrap word (bold, italic..), wrapping is done successful but vim report error.

[code]

[2017-12-22 13:51] SidOfc commented on #4
Hi there!

Thanks for reporting the issue, I'm going to take a look.

[2017-12-22 13:57] SidOfc commented on #2
Hi

Regarding your first request about checkbox highlighting, I'm not sure if this is something that fits the feature set that the plugin supplies. I will think about it, there is always an option to add it and have it off by default or to add a snipped that could be put directly in the .vimrc.

I'm not sure what you mean in your second request, could you elaborate?
Like do you want something that

[2017-12-22 14:01] SidOfc commented on #3
Hi there,

I'd love to check this out but I'll need some more information before I can look into it.
Could you add the snippet of text (the list on which the function breaks) and the cursor position to the issue?

Cheers!

[2017-12-22 14:48] SidOfc commented on #4
Hi pax,

I've added a test branch that you can checkout to see if it fixes your issue.
I could not reproduce it myself using either neovim or regular vim, hence I'd like to ask you to check this fix for me, let me know if you run into issues with the code below. (note that /path/to/mkdx must be replaced with the actual path in which your plugin manager installed the plugin in the `cd` command.).

[2017-12-22 17:55] paxtemper commented on #2
I will explain second request in an example:
i want command to toggle between this two lines:
`do something bla bla bla`
to
`[ ] do something bla bla bla`

Basically to toggle between normal line and checkbox list item.  And should pay attention that checkbox can be with some mark, [-], [x], or any other that user define. So, toggle  to normal non checkbox line independent from checkbox mark.
And

[2017-12-22 18:21] paxtemper commented on #3
I use arch linux. My vim version is: VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Dec 19 2017 20:40:12)

so i have this:
[code]
Then i realize to i need 2.1 and 2.2 list items ( i know it is unusual but is case which is possible). So come back on item two and change it to 2.1. My cursor is on second line in normal mode.
[code]
Then i press <kbd>o</kbd> to create 2.2 item. That is point when error

[2017-12-22 18:30] paxtemper commented on #4
Thanks for easy guide what i need to do.
When I'm on wraptext-missing-endif branch error is fixed.

[2017-12-22 18:35] SidOfc commented on #2
Thank you for the examples, they make it very clear what you want:

- Toggling between a regular line and a checkbox
- Toggling between a regular line and a list item

Currently, mappings like such already exist for toggling quotes (`>`) and heading levels, I don't think it will be difficult to add them to the existing set. To expand a bit on your idea, we could make them work in both normal and v

[2017-12-22 18:50] #3 closed

[2017-12-22 19:00] SidOfc commented on #3
Wow, the issue got closed because of the commit message I guess. I wanted to reply to add some additional information and to ask you to update the plugin and see if you still experience this behaviour :)

Regarding the actual problem; It has to do with malformed indentation.
mkdx expects a sublist item, e.g. `2.1` to be indented in a `2` item, like this:

    1. item 1
    2. item 2
        2.1. s

[2017-12-22 19:03] #4 closed

[2017-12-22 19:04] SidOfc commented on #4
Hi again pax!

I've merged the change into `master`, you can revert your branch back if you didn't do this already and update the plugin like normal!

Cheers!

[2017-12-22 20:09] paxtemper commented on #2
I have many ideas (some my, some  from other markdown plugins) to improve this plugin but i don't wan a make flood of features requests.
I know little bit of programming(mostly python), but nothing how make vim plugins, to try do something myself.

[2017-12-23 02:09] SidOfc commented on #2
That's good, I'm open to ideas, be it probably not every idea will "fit" the feature set that the plugin provides but simply put: If I think it fits the plugin and it would be a useful addition, why not? :)

If you want to get started with vimscript, I would highly suggest reading through [learn vimscript the hard way](learnvimscriptthehardway.stevelosh.com) by Steve Losh, you'll even create a sma

[2017-12-23 03:19] SidOfc commented on #2
Hi @paxtemper,

If you want you can test the new functionality you requested in the branch `feature/toggling-improvements`.  Before I merge this into master, I will have to update documentation and create some GIFS which I will try to do soon.

For now, what you need to do is:

    $ cd ~/.vim/path/to/mkdx
    $ git pull origin feature/toggling-improvements
    $ git checkout feature/toggling-impr

[2017-12-23 03:43] paxtemper commented on #2
I try new features. New toggling commands work. But command for checking/marking checkbox are broken.

<kbd>PREFIX</kbd>+<kbd>-</kbd> give error:
`E118: Too many arguments for function: mkdx#ToggleCheckbox`

<kbd>PREFIX</kbd>+<kbd>=</kbd> have new checkbox/non-checkbox toggling effect.

I have this settings for marks, don't know does that is responsible for error

`let g:mkdx#checkbox_toggles = ['

[2017-12-23 03:56] SidOfc commented on #2
Could you try again? I found the cause which was that I accidentally overwrote the original `mkdx#ToggleCheckbox` function which already existed -,- but it should be fixed now!

[2017-12-23 04:21] paxtemper commented on #2
Now work. But for me new functionalities are little bit confusing and none practical. Maybe i have different perception and needs.

First, for me checkbox line is list item in default. So i don't need to have `- [ ]`. That give some 'weird' toggling effects. For example:
`do this bla bla bla`
<kbd>prefix</kbd>+<kbd>lt</kbd>
`- [ ] do this bla bla bla`
<kbd>prefix</kbd>+<kbd>t</kbd>
result in this

[2017-12-23 04:27] paxtemper commented on #2
one more weird effects:

`list item`
<kbd>prefix</kbd>+<kbd>ll</kbd>
`- list item`
<kbd>enter</kbd> or <kbd>o</kbd>
`- -`

Why new item start with two - - ?

[2017-12-23 04:37] SidOfc commented on #2
Hmmn, I tried reproducing this issue in both vim and neovim and cannot reproduce this issue.
I've modified my `g:mkdx#checkbox_toggles` to match yours to check if that could be it but this was not the case. I've also checked this with a list item that was slightly indented to see if that caused the mismatch but that also came out negative. Do you have any other settings that you customized?

[2017-12-23 04:51] paxtemper commented on #2
When last time try new improvement i forgot to turn off my other markdown plugin. From now i will keep other markdown plugin down to avoid possible conflicts. I will test it and report.

[2017-12-23 04:56] SidOfc commented on #2
If this happens to conflict with another plugin, could you include the name of the plugin? Maybe it is something I can look into depending on what exactly the plugin does.

[2017-12-23 04:58] paxtemper commented on #2
- - error is gone when i turn other plugin, so it is plugin conflict. I link plugin to you know possible conflicts plugins:
https://github.com/plasticboy/vim-markdown

[2017-12-23 20:38] SidOfc commented on #2
Ah, cheers for linking the plugin, I checked it out and it does seem to do "something" within lists when pressing "o", mkdx provides both support for pressing the enter key at the end of a line, and pressing "o" in normal mode to insert new list items, however there is nothing that allows you to quickly indent/de-indent list items yet. It seems that PlasticBoy's vim-markdown provides some function

[2017-12-24 16:32] SidOfc commented on #2
Changes are merged into master, I've added some instructions on unmapping functionality should it conflict in a way that makes the plugin unusable. You can revert back to master and pull the latest version @paxtemper :) Closing this issue.

[2017-12-24 16:32] #2 closed

[2018-01-05 22:30] SidOfc commented on #1
Hello again @dfishburn, perhaps you missed my last message :)
Did you find what you are looking for, or could you explain what you want in a bit more detail?

Cheers!

[2018-01-07 02:56] SidOfc commented on #2
@paxtemper I've given the checkbox states a thought and added them as an opt-in feature.
It's in the branch [feature/checkbox-highlight-syntax](https://github.com/SidOfc/mkdx/tree/feature/checkbox-highlight-syntax), if you want, you can check it out locally :)

There are some things you need to know in case you want to try it out:

- It is not enabled by default, add this to your vimrc:
   `let g:

[2018-01-10 18:51] SidOfc commented on #1
I'm closing this issue as it is unclear what should be done.

[2018-01-10 19:51] dfishburn commented on #1
Sorry, have been busy to put this together.

* Vim supports user defined menus:
  * ```:h menus```
  ![image](https://user-images.githubusercontent.com/646124/34791472-14d4912e-f613-11e7-931f-3a8b71c5a78f.png)

* Vim also supports tear off menus (:h tear-off-menus).
    * I really like this to help to learn what the standard maps your plugin offers.
    * Since I can have it open beside the buffer

[2018-01-10 21:12] SidOfc commented on #1
Hiya!

Alright, I understand how this is supposed to look, I work in the terminal myself but this seems handy when using gvim or some other vim that supports menu's. Recently, I added a [mappings section](https://github.com/sidofc/mkdx#mappings) to the README, it is quite large indeed.

I will look into the documentation and see if I can get it working in the terminal, probably I'll ask if you can

[2018-01-10 22:32] SidOfc commented on #1
I've added menu's like you suggested (although most are still broken in functionality, will look into it tomorrow), I am however, not entirely sure if they also show the mappings. They are there and I see them in my Vim / NeoVim menu's, but not in MacVim for instance (I do see the menu there though) some screenshots to illustrate:

**MacVim**

![image](https://user-images.githubusercontent.com/322

[2018-01-13 15:30] SidOfc commented on #1
Hi again @dfishburn, I've tested the functionality of the menu's after some debugging and everything seems to be working now. I also noticed that the hotkeys _are_ actually displayed in MacVim but only after hovering over the menu item for a certain while, I hope they just show up like in your example screenshot.

Closing this now as this feature is indeed implemented.
If you notice anything broke

[2018-01-13 15:30] #1 closed

[2018-01-14 14:41] dfishburn commented on #1
Sidney,

I gave this the old college try and was never able to get where I needed.
From the GitHub website, I viewed your branch and hit the download as zip.
The updated by runtimepath to include the root folder.
[code]
No menus.

[code]
I believe that means no work really gets done.

So what is supposed to define and create all of your g:mkdx settings?
I do not see the autoload/mkdx.vim file crea

[2018-01-14 16:32] SidOfc commented on #1
Hi David,

Can you confirm that you have the [latest version](https://github.com/SidOfc/mkdx/releases) installed by checking the version number at `:h mkdx`, it should look like this:

![image](https://user-images.githubusercontent.com/3225058/34917804-49be7892-f94b-11e7-914f-10f36860b365.png)

Also, did you indeed confirm that the plugin wasn't loaded using some other method? Like executing a map

[2018-03-24 11:52] SidOfc opened #11 "Toggling quotes in visual mode inserts a '0' on empty lines"
There is a bug present in Visual mode when trying to toggle quotes on multiple lines.
In some cases, there is an empty line at the start of end of the selection, in these cases mkdx inserts a random `0` at the start of the line.

**OS type**:

- [x] Unix
- [x] Windows
- [x] Other

**Vim**:

- [x] vim
- [x] neovim
- [x] Other

**Vim version**:

NVIM v0.2.2

**Reproduce steps**:

Given this example

[2018-03-24 12:02] SidOfc opened #12 "Support updating task lists lists inside a quote"
I would like to propose a feature to allow lists to be updated inside a quote.
For example:

[code]

Pressing `<leader>-` currently only updates the item on the current line and it does not traverse up to update parent list items regardless of a value `> 0` in `g:mkdx#settings.checkbox.update_tree`. The output looks like this:

[code]

And my proposal would turn that into this:

[code]

[2018-03-24 12:19] SidOfc opened #13 "Support adding new (task-)list items inside a quote"
I would like to propose a feature to add support for appending new list items inside a quote.
Currently, only a quote symbol is added, this breaks the structure of the list.

For example:

[code]

Pressing `o` or `O` in normal mode only adds a quote symbol:

[code]

I think it would make more sense if the actual output would result to this:

[code]

This way, list structure isn't broken. While it'

[2018-03-24 12:28] #11 closed

[2018-03-24 12:28] #12 closed

[2018-03-24 14:17] #13 closed

[2018-04-21 21:07] totpet opened #16 "Compess anim-GIFs in the docs"
Hi!

I think the animated GIFs in the documentation inside the repository are needlessly large (I keep Vim plugins as git submodules), can you please compress them? You could use something like this:
`gifsicle -O2 --colors 256 --batch doc/gifs/*.gif`

This reduced their size from around 24 MB to 3.9 MB without a massive loss of quality, but other parameters or tools might give you better results.

[2018-04-21 23:39] SidOfc commented on #16
Hi there.

Fair point, I will look into it, I will push the compressed gifs when I'm done, it will probably do some good for the README page load time as well :)

Cheers!

[2018-04-21 23:49] SidOfc commented on #16
Hi again!

Latest [master](https://github.com/SidOfc/mkdx/commit/257d8f58d0c128e3fee617097e63286e371ce6f0) now contains reduced size for all gifs, 3.9MB with the above command.

Thanks you for your feedback!

[2018-04-21 23:49] #16 closed

[2018-04-22 00:26] SidOfc opened #17 "Add ability to jump to fragment identifiers within the document."
This is a proposal to add the ability to jump from a [fragment identifier](https://www.w3.org/TR/1998/REC-html40-19980424/intro/intro.html#fragment-uri) to its header.
Since the table of contents can be generated as HTML inside a `<details>` tag, it would be nice to be able to jump from the generated `<a href="#fragment">header text</a>` links. It would also be nice to have the current cursor posi

[2018-04-22 00:42] SidOfc opened #18 "Add alignment options for CSV rows"
This is a proposal to add extra alignment options to CSV -> Markdown table conversion.
At the moment, everything is centered. This might not be how you want your table to look and on github, tables have alignment options by placing `:` on either or both sides of a column like so:

[code]

The first column is left aligned, the second is centered and the last is right aligned.
It would be nice to ha

[2018-04-22 18:14] #18 closed

[2018-04-28 03:06] SidOfc opened #22 "Add insert-mode autocompletion for fragment links"
This is a proposal to add insert-mode autocompletion for fragment links (`:h ins-completion-menu`, `:h ins-completion`, `:h completefunc`) using Vim's builtin functionality.

**Use case**
I often refer to another location within the README of any github project. Since mkdx knows which headers there are and what hashes they have, it would be nice to have it autocompleted immediately when typing a `

[2018-04-28 05:47] #22 closed

[2018-04-28 16:03] SidOfc opened #24 "Add anchor link support within detection / jumping / completions"
This is a proposal to add support to detect these types of links:
Currently, some work can be found in: https://github.com/SidOfc/mkdx/tree/patch/fragment-detection

[code]

On Github, it would be perfectly valid to go to `https://github.com/[USER]/[REPO]#top-of-page` but mkdx does not recognize these links as valid fragments. One thing to note with Github and manually inserting a fragment identif

[2018-04-28 16:17] #24 closed

[2018-05-07 10:05] blackkenny opened #38 "Auto Indent of List Items not working"
**OS type**:
- [ ] Unix
- [ ] Windows
- [x] Mac OS 10.13.4

**Vim**:
- [x] vim
- [ ] neovim
- [ ] Other ([SPECIFY])

**Vim version**:
8.0.1283

**Reproduce steps**:

Example:

1. Open a markdown file.
2. Create the same list as shown in the docs (Inserting List Items)
    https://github.com/SidOfc/mkdx#inserting-list-items
3. Type "Return" at the end of a line of a nested List Item

**Expected**:

[2018-05-07 14:49] SidOfc commented on #38
Hi @blackkenny, thanks for reporting the issue, I'll look into it when I get home!

[2018-05-07 18:31] #38 closed

[2018-05-08 08:10] blackkenny commented on #38
@SidOfc Thank you for the quick fix 👍

[2018-08-17 14:59] SidOfc opened #58 "Convert markdown table back to CSV"
This is a proposal to add functionality to the existing CSV -> markdown conversion.
In some cases, it may be convenient to be able to quickly convert a markdown table back to CSV format. Currently, only one-way conversion from CSV to markdown is done.

The idea is to bake this feature into the `<Plug>(mkdx-tableize)` plug which essentially turns it into a toggle to convert from and to CSV / markdo

[2018-08-17 15:38] SidOfc opened #59 "Fix CSV to markdown conversion with missing values"
There is an issue where mkdx will not add separators when a field is empty, e.g:
![image](https://user-images.githubusercontent.com/3225058/44275085-2bbbbd80-a244-11e8-9f2f-42b85df2b77c.png)

It should add the separators regardless of the value being empty or not.

[2018-08-17 18:06] #59 closed

[2018-08-17 18:07] #58 closed

[2018-08-27 19:58] SidOfc opened #62 "Move `gv` switches from end of mappings to functions"
This change will allow one to toggle the behavior after finishing a command in visual mode.
Currently, an [option](https://github.com/SidOfc/mkdx#gmkdxsettingsrestore_visual) is available which can be set initially but once the mappings are [parsed](https://github.com/SidOfc/mkdx/blob/master/ftplugin/markdown/mkdx.vim#L111-L122) and bound, is impossible to disable.

[2018-09-02 22:56] #62 closed

[2018-09-05 19:37] SidOfc opened #68 "Stop polluting registers when (re)generating TOC"
I noticed some strange behavior when moving old changes from the README to the CHANGELOG.
After cutting the notes with `x`, saving the file, and switching to the CHANGELOG, pasting with `p` resulted in pasting the actual table of contents of the README instead.

This happens whenever the table of contents is (re)generated:

![image](https://user-images.githubusercontent.com/3225058/45116175-4225ac

[2018-09-09 06:22] SidOfc opened #69 "Ignore empty setex headers"
When you just want to insert a bunch of `=` characters, mkdx thinks it is a setex-style header regardless of content above the line. Whenever some `=` occur and there is no text directly above it I think it should be ignored instead.

This currently happens in:

**Table of contents**
![image](https://user-images.githubusercontent.com/3225058/45261742-c86b1880-b408-11e8-9fac-8eb979baac24.png)

**Li

[2018-09-09 06:59] SidOfc opened #70 "Empty quickfix list before populating it with dead links"
Currently, the quickfix list is not always emptied before dead links are added to it.
This happens when no dead fragment links are found and there are some dead external links.

**Example:**
![image](https://user-images.githubusercontent.com/3225058/45262030-8b098980-b40e-11e8-9afa-adc60ff29498.png)

[2018-09-09 07:05] #70 closed

[2018-09-09 07:05] #68 closed

[2018-09-09 08:47] #69 closed

[2018-11-13 13:20] marcdeop opened #77 "TOC generation does not indent properly"
**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:
[code]

**Reproduce steps**:

1. Open a markdown file.
2. Paste the following example into the file:

[code]

3. Then, save the file

**Expected**:

TOC should be updated with *indentation*

**Actual**:
No indentation on TOC elements

[2018-11-13 14:44] marcdeop commented on #77
I have found the problem: the plugin doesn't work well with `set shiftwidth=0`

Will submit a PR with a "fix" hopefully soon. Essentially will implement this:
[code]

[2018-11-13 19:48] SidOfc commented on #77
Hello @marcdeop!

Thank you for taking the time to research and implement a fix. I will check it out right away.

[2018-11-13 20:06] SidOfc commented on #77
Closing since #78 fixes this issue, thank you for your contribution @marcdeop!

[2018-11-13 20:06] #77 closed

[2018-11-20 06:53] yous opened #80 "Inserting list items is not working with unicode characters"
**OS type**:

- [ ] Unix
- [ ] Windows
- [x] Other (macOS)

**Vim**:

- [x] vim
- [ ] neovim
- [ ] Other ([SPECIFY])

**Vim version**:

8.1.500

**Reproduce steps**:

Example:

1. Open a markdown file.
2. Paste the following example into the file:
[code]
3. Type <kbd>Enter</kbd> at the end of the line in INSERT mode.

**Expected**:

[code]
The cursor is at `|`.

**Actual**:

[code]
The cursor is a

[2018-11-20 20:07] SidOfc commented on #80
Hi there,

Thank you for the bug report, I will look into it!

[2018-11-20 20:56] SidOfc opened #81 "Unicode characters mess up table alignment"
This is related to #80 regarding the use of unicode characters in the input lines.

**OS type**:

- [ ] Unix
- [ ] Windows
- [x] Other (macOS)

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:

v0.3.1

**Reproduce steps**:

Example:

1. Open a markdown file.
2. Paste the following example into the file:
[code]
3. Then, from Normal mode with the cursor on the first line, g

[2018-11-20 21:22] #80 closed

[2018-11-20 21:22] #81 closed

[2018-11-21 01:35] yous commented on #80
Now it works well, thank you for the quick update!

[2019-10-17 23:53] iicurtis opened #86 "Autocomplete + ncm broken"
I'm not sure if this is something to be fixed here or over at ncm2.

Problem: If ncm2 has a suggestion box open and the user presses return to get a new list item, the list bullet `-` is just appended to the end of the current line and no newline is created.

**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:

[2019-10-18 07:31] SidOfc commented on #86
Hello! Thanks for reporting the issue, I'll try to look at it later today as I'm on my way to work right now. Will update when I know more

:+1:

[2019-10-19 11:46] SidOfc commented on #86
I did not quite get to it yesterday but started investigating today, I found a solution for when no item is selected and enter is pressed. This unfortunately also applies when an item is selected from the completion menu so the enter character would now _always_ be inserted.

Since the intention of selecting an item and pressing enter most likely means "select item" and not "select item and insert

[2019-10-21 10:10] SidOfc commented on #86
This one is quite tricky to "get right" due to the way mkdx handles enter currently. It may take a bit to come up with a solution so in the meantime I'd like to suggest using <kbd>Ctrl</kbd>+<kbd>E</kbd> to close the popup before pressing <kbd>Enter</kbd>.

While suboptimal, so far I haven't been able to prevent all undesired behavior yet. Keeping this issue open until it's fixed (hoping to have s

[2019-11-09 03:12] lyneca opened #87 "Can't get anything working with simple RC file"
**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:

[code]

**vimrc file**
[code]

**Reproduce steps**:

Example:

1. Open a markdown file.
2. Try any of the features listed under the [Quick Start](https://github.com/SidOfc/mkdx#quick-start) section

**Expected**:

Any functionality of mkdx should work

**Actua

[2019-11-09 03:15] lyneca commented on #87
Switching from [dein](https://github.com/Shougo/dein.vim) to Vundle works, so must be something to do with that

[2019-11-09 03:30] lyneca commented on #87
Jotting it down to my dodgy dein setup.

[2019-11-09 03:30] #87 closed

[2019-11-10 12:39] SidOfc commented on #86
Well, it is indeed a pretty tricky issue to fix, not even due to the issue itself per-se but also the amount of feature creep and some of my most god-forsaken variable naming that ended up in the plugin making it harder and more risky to modify.

Handling enter in a text editor is no easy task without messing it up in _some_ way, eventually...

I do think there's a solution though, but that would

[2019-12-11 06:47] Blacksuan19 commented on #86
any progress with this?
I am facing the issue with coc and nvim

[2019-12-12 21:02] SidOfc commented on #86
@Blacksuan19 unfortunately I have no real solution for this. Basically, the order in which things seem to happen:

- You type some text, it matches some completion so a menu pops up
- You decide that you want to accept this completion and press \<Enter> as usual
- mkdx does NOT trigger yet, but your completion engine already inserts an answer, there is no way for me to know this answer (chosen com

[2020-02-10 12:50] nocibambi opened #89 "[bug] `mkdx` turns off markdown header folding"
**OS type**:

- [X] Unix: Ubuntu 18.04.4
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [X] neovim
- [ ] Other ([SPECIFY])

**Vim version**: v0.2.2

**Reproduce steps**:

0. Have `let g:markdown_folding = 1` in `.vimrc` (I also tried without this setting, but this was my default before).
1. Open a markdown file.
2. Paste the following example into the file:
[code]
3. Then, having the

[2020-02-11 00:46] SidOfc commented on #89
Thanks for the detailed bug report, I'll look into it as soon as I can!
Hoping to have something by Wednesday :)

Cheers :+1:

[2020-02-11 21:37] SidOfc commented on #89
Hello! I've checked it out and it seems to come from Tim's [vim-markdown](https://github.com/tpope/vim-markdown) plugin. Unfortunately they both use the same vim functionality (`foldmethod` and `foldexpr`) to fold different parts of the document.

In this case it is not really possible to provide an easy workaround so now, whenever `g:markdown_folding` is enabled, mkdx will not override `foldmetho

[2020-02-12 16:44] nocibambi commented on #89
Hi, Many thanks for your quick and elaborate answers. I really appreciate it. However, it still does not work for me, it does the exact same thing as I described above.

I checked and your commit cloned successfully, the respective lines are the same.

I am relatively new to Vim, so I have little idea what another thing can cause it.

Here is my .vimrc for reference.

[code]

[2020-02-12 20:05] SidOfc commented on #89
Hmmn alright, interesting!

I'll have a look tomorrow evening (got plans tonight :P), we use the same plugin manager so for that reason I'll run vim with your config and plugins, see if I can reproduce.

Thanks for testing and sharing your .vimrc, it really helps and I'll get back to you asap! :+1:

[2020-02-13 19:34] SidOfc commented on #89
@nocibambi this is unrelated to the issue you're having, but I thought it would be good to know that you are using `colorscheme solarized` yet do not have any plugins installed which supply it.

The reason that might still work for you is because you probably installed it before using vim-plug, and thus can still be found in your `~/.vim/plugged` directory. Then later when doing cleanup, you may h

[2020-02-14 16:31] nocibambi commented on #89
Hey @SidOfc!

First of all, many thanks for your consistent interest in this case.

Also many thanks for picking out such things from my `.vimrc`. Actually, I do **not** have the package under my `plugged` directory (nor I have a `.color` directory).  I remember that it was not a clean install, but now I forgot what was the issue. Another thing to sort out. :)

Anyways, this is far from being an u

[2020-02-14 21:53] SidOfc commented on #89
Hi @nocibambi!

Interesting that your color scheme worked, I wonder how haha!

Also, I just pushed a few more commits, it took a while before I figured it out. I actually disabled all calls that did something with either `foldexpr` or `foldmethod` but they kept resetting!

Working up to the point of reaching insanity, there's always one key move I try, which is to selectively comment out blocks in

[2020-02-15 11:27] nocibambi commented on #89
Hi @SidOfc,

You really did it! I just checked and it works like a charm.

Many great thanks, you just made this world a better place! :smiley:

[2020-02-15 12:12] SidOfc commented on #89
Good stuff! Enjoy the plugin, if you actually encounter the issue again feel free to reopen! And again, cheers for the report and sharing your vimrc -- that **really** moved mountains in this case :+1:

Last but not least, have a good one :wave:

[2020-02-15 12:12] #89 closed

[2020-02-16 11:46] SidOfc commented on #86
Going to close this for now, if more folks suffer from this feel free to reopen for discussion.

[2020-02-16 11:46] #86 closed

[2020-03-04 13:00] samarulmeu opened #90 "Quote marks"
Thanks for this great plugin that, for me, replaced all the markdown related plugins. I still have to get familiarized with all that it can offer. But I found something rather annoying when using quoted text. Instead of getting a single `>` when starting a new line, I get two of them.

**OS type**:

- [x] Unix

**Vim**:

- [x] vim

**Vim version**:

VIM 8.1

**Reproduce steps**:

Example:

1. Open

[2020-03-04 13:30] SidOfc commented on #90
Hi @samarulmeu!

I've confirmed the behavior and will look into it as soon as I can, though it might take a few days due to pre-planned events, apologies for the inconvenience 😅

Thank you for reporting this issue! 👍

[2020-03-04 15:17] samarulmeu commented on #90
No problem. Take your time!

[2020-03-04 23:09] SidOfc commented on #90
@samarulmeu couldn't help but take a look, short version:

1. I disabled all code I knew was responsible for inserting the quote marks
2. quote mark still inserted -> maybe some vim setting changed / markdown support "improved"?
3. (1 minute later) entirely disabled mkdx, behavior didn't exist, back to square 1
4. print all variables in the eventual "line" that gets injected into the buffer when p

[2020-03-05 07:58] samarulmeu commented on #90
Wow, so quickly! Thank you so much! It's perfect now.

I have two small issues, though. So I'll continue here, but I'm closing this issue as it was solved. I don't think is necessary to start another one.

So, the **first** one:

Do you have any idea of how to insert blank lines inside a quote field. If I press `Enter` on an empty line it will delete the quotation mark (nice feature, must be there

[2020-03-05 07:58] #90 closed

[2020-03-05 08:51] SidOfc commented on #90
Hey @samarulmeu!

Cheers, I do my best to keep up with fixing issues as they come up :)

As for the quotes, mkdx has no functionality to support this. The way it currently works is like in word when adding new bullet / number list items, pressing enter twice simply takes you "out of the list".

That said though, a solution could be to add a feature which uses ctrl+enter, since shift enter is used

[2020-03-05 10:00] samarulmeu commented on #90
Thank you for your answer and time!

I was thinking that this could rise some issues with the mapping and I think that it is ok for the time being.

One way, I don't know how easy is to implement, could something I mentioned in my previous answer: check if `>` is followed by an empty space ` ` and if so then if `Enter` is pressed then leave the `>` mark and start a new line (also with `>` as first

[2020-03-05 16:13] SidOfc commented on #90
You explained it well, thanks for putting in the time to write it up!

Actually, mkdx already inserts that space so you can continue to type your quote without needing to type it first. If I don't insert the space after the ">", it feels janky when you _do_ want to continue the same paragraph of a quote on a new line. Because then you'd have to type space + "your text" on every new line.

Since I

[2020-03-06 11:12] samarulmeu opened #91 "[Feature request] Empty line quote option"
As we've discussed in Issue #90 would it be possible to have an empty new line in a quote environment?

The plugin now, if you press enter in a quote paragraph, automatically inserts the `>` quote mark followed by a space. But if you press Enter, the quote mark disappears (a nice feature that should remain). The option I'm thinking about is that if you press space after the `> ` and then enter (so

[2020-03-08 12:22] SidOfc commented on #91
Heya @samarulmeu!

I read your idea and thought it was "quote" (quite) good :smile:.  It does not break existing behavior or require any extra mappings. I've [added a small note](https://github.com/SidOfc/mkdx#toggling-quotes) in the README to clarify how one can create a multi-block quote. Thank you for your contribution!

Let me know if there are any issues, otherwise you may close this :+1:

[2020-03-09 07:50] samarulmeu opened #92 "Helptags error"
When using the Vundle plugin manager (I don't know if it the case for the other plugin managers) when installing or updating I get this error:

[code]

Executing `:helptags ~/.vim/bundle/mkdx/doc/` I narrowed down the problem:

[code]

**OS type**:

- [x] Unix

**Vim**:

- [x] vim

**Vim version**:

VIM 8.1

[2020-03-09 08:04] samarulmeu commented on #91
Thank you so much! That's what I call great support.

As I've started using exclusively this plugin I hope it will not be too much trouble if I will bother you with another request. As this option could already be present, I'm reluctant in starting a new issue, but it will be possible to have some lines selected and then have a mapping for wrapping them within a block code ```, the way `\<PREFIX\>

[2020-03-09 08:04] #91 closed

[2020-03-09 11:51] SidOfc commented on #92
Hi @samarulmeu!

I've fixed the duplication in the helptags and pushed to master, you should no longer receive this warning.

Let me know if the issue persists, otherwise feel free to close 👍

[2020-03-09 11:56] SidOfc commented on #91
@samarulmeu hmmn I think `` <PREFIX>` `` still isn't used at the moment, it seems like a mapping mkdx should have though, since there's a lot of wrapping for other parts of markdown formatting already.

That said I need to look into wrapping block selections in visual mode to see what I can achieve there, feel free to open an issue for this one as I don't think it's there yet. If I do find it some

[2020-03-09 12:04] samarulmeu commented on #92
Perfect! And closing.

[2020-03-09 12:04] #92 closed

[2020-03-09 12:11] samarulmeu opened #93 "[Feature request] Block Code Wrapping"
Would it be possible to have a block code wrapping?

Currently only the inline code wrapping is supported using `` <PREFIX>` ``  in both Normal or Insert mode. Maybe you could provide the same mapping and have inline code for only parts of a line and block code when more than one line are selected?

Thank you!

[2020-03-09 19:11] SidOfc commented on #93
Hey @samarulmeu,

This could indeed be a nice feature for mkdx, may I ask how you would actually "apply" this feature? So for example, do you intend to visually select that which needs to be wrapped before performing a mapping?

Let me know! :+1:

[2020-03-09 19:14] samarulmeu commented on #93
Exactly. I will select some lines of code and then press the appropiate mapping and they should be enclosed inside a block code.

I think that it should be the same as you've already done in the case of inline code block (which works but only if you select maximum a line).

[2020-03-11 08:47] samarulmeu opened #94 "[Bug]: Toggle quote"
Hello,

When selecting more than on paragraph of text and using the toggle quote mapping, I do not get the expected behavior as the  empty lines are not inside the quote field.

**OS type**:

- [x] Unix

**Vim**:

- [x] vim

**Vim version**:

Vim 8.1

**Reproduce steps**:

Example:

[code]

**Expected**:

[code]

**Actual**:

[code]

Thank you for your time and help!

[2020-03-12 20:01] SidOfc commented on #94
Hi @samarulmeu! I relabeled this one a feature request because it wasn't actually a bug, but rather an unimplemented feature, the code deliberately skipped empty lines when toggling quotes :)

I've now implemented a different function which takes care of multi-paragraph selections,  leading and trailing empty lines will remain unaffected.

It's in master, feel free to pull, I'm not sure if I'm goi

[2020-03-12 21:39] SidOfc commented on #93
I'm not quite there yet, but was having quite some fun already with this snippet:

[code]

The downside to this solution is that when your selection has leading or trailing newlines, they will also be wrapped, most of the time this is undesired so will look into that next :)

[2020-03-13 07:32] samarulmeu commented on #94
Again, perfect job. Thank you!

[2020-03-13 07:32] #94 closed

[2020-03-13 07:42] samarulmeu commented on #93
I think you are trying to hard. I don't think that the new feature has to take into account the leading or trailing newlines --- the selection is the user's concern: he **selects** what he wants to enclose in a code block and if, by mistake or not, he also selects leading/trailing newlines and does not want them inside the block **he** should correct the mistake.

So, new feature only concern shou

[2020-03-16 03:52] dzackgarza opened #95 "Unexpected behavior of period key in markdown documents"
Outside of markdown documents, the period key takes on the usual behavior (repeating the last action), but something in the plugin seems to override this behavior in markdown documents.

Something like `3>>.' normally indents 3 lines twice, but this doesn't seem to happen in markdown documents with this plugin installed -- it seems to paste text sometimes, delete characters at other times, or do n

[2020-03-16 08:59] samarulmeu commented on #95
I do not think that the problem resides in this plugin. I tried to reproduce your issue (`3>>`) opening  a markdown document with only this plugin enabled and it worked perfectly. Then I started to enable other markdown plugins that I used in the past and, after enabling *bullets.vim*, I got a strange behavior -- `.` did nothing.

So maybe you have some other plugin that interferes with the mappin

[2020-03-16 10:46] SidOfc commented on #95
@dzackgarza hello! Can you please tell me if you can reproduce this with _only_ mkdx enabled?
If indeed the "weird" behavior disappears as in @samarulmeu's case, then indeed it is likely something with your mappings / other plugins.

After doing this, if the issue persists, feel free to post a list of your plugins, and if possible / willing, your vimrc configuration, from there I can also get a lo

[2020-03-16 11:18] samarulmeu commented on #93
How do you access what you have implemented `mkdx#WrapSelectionInCode()`? I tried using the mapping for the inline code, but I still get the old behavior.

[2020-03-16 11:35] SidOfc commented on #93
@samarulmeu hey! this is just a test snippet, it's not in master at the moment, just showing an example -- so far -- hehe

About trying to hard, actually, it is my own expectation that this should work. When I want to enclose some code, I do not want to "nitpick" the lines exactly, I _expect_ the plugin to be smart enough in that case to handle leading and trailing lines. The plugin intends to be

[2020-03-16 13:04] samarulmeu commented on #93
Aha! Thank you!

The way you envision the plugin's behavior is nice, but, if it is hard to implement (not to mention that sometimes it is impossible), I think you should also take into account the fact that the user **should** know what he is doing/wanting.

I really appreciate your support and the fact that you try to solve every issue and listen to the users.

[2020-03-17 07:34] samarulmeu opened #96 "[Feature request] YAML headers support"
Half of the time I am using markdown for writing blog posts (I use a Static Site Generator) and the plugin I used before (vim-pandoc-syntax) supported in a very nice way YAML headers highlighting. Actually, for me, was the only missing feature of this plugin as mkdx does it better for all the others (italic, bold, headers). Ok, maybe also the quote highlighting could be improve (to characters have

[2020-03-17 07:38] samarulmeu opened #97 "[Bug] Bold and italic rendering"
I think the plugin fails to render the bold and italic highlighting. Please keep the different coloring of italic, bold and italic&bold.

**OS type**:

- [x] Unix

**Vim**:

- [x] vim

**Vim version**:

VIM 8.1

**Reproduce steps**:

Example:

1. Open a markdown file.
2. Paste the following example into the file:

`***something*** or *_something_*`

**Expected**:

***something***

**Actual**:

som

[2020-03-17 13:18] SidOfc commented on #97
Will look into fixing this when I can :+1:

[2020-03-17 13:37] SidOfc commented on #96
Actually mkdx does not try to be a syntax highlighting plugin, it relies on your regular markdown highlighter for most of the heavy lifting.

Some highlighters create inconsistent results and could use "some patches", this is why mkdx has some highlighting functionality, some "patched" things include:

- List item highlighting, ordered and unordered
- Checkbox state (done / pending / unstarted) hi

[2020-03-17 13:45] SidOfc commented on #97
@samarulmeu actually, I did some more research, it is the default markdown highlighter which does not apply bolds and italics, or is dependent on your terminal settings perhaps.

mkdx has specific styling for text that is bold *and* italic, but abstains from controlling / trying to control everything (further explained in #96).

The syntax styles that need to be fixed would be:
- `markdownBold`
-

[2020-03-17 13:46] SidOfc commented on #97
Also, my word on this is not final because I closed it, do not feel like I'm shutting you down, if you feel this issue needs to be reopened because it is valid then please do. Happy to keep discussing if we disagree :)

[2020-03-17 14:10] SidOfc commented on #93
Issues are there to be solved!

And it can help to have discussions to link to, where things have been iterated before too so I always am open :)

I do not think the implementation is "hard" to build, but the way the text gets inserted is a bit different which is just something I need to learn to master.

If I never master it, I can never build such features, so I take the challenge to "improve" m

[2020-03-17 14:13] SidOfc opened #98 "Release a new version on vim.org"
There are some notable changes in master which folks from vimscripts do not yet have access to.

- [x] update doc/mkdx.txt to reflect [all new changes since 1.9.1](https://github.com/SidOfc/mkdx/compare/v1.9.1...master)
- [x] add new contributors to honorable mentions (@samarulmeu, @victorkristof)
- [x] implement #100
- [x] implement #101
- [x] implement #103
- [x] release on vimscripts

[2020-03-17 15:58] samarulmeu commented on #96
I think I should have provided an example, so here it is:

![yamlHeader](https://user-images.githubusercontent.com/39216570/76874949-8d0c9e00-6878-11ea-8f3d-f159b6398b4b.png)

Yes, it is mostly about color rendering. Using field colors it is easier to handle YAML headers.

If it is too much trouble, you can close the issue. In a way it is a particular request.

[2020-03-17 16:13] samarulmeu commented on #97
So, here is the rendering i get

![boldItalic](https://user-images.githubusercontent.com/39216570/76875983-f3de8700-6879-11ea-9c95-b75ec976e99a.png)

I just thought it will be nice that the last rendering will be closer to *reality*. Although I'm fine with plain markdown also, but from time to time I find it easier to have a WYSIWYG perspective.

I'm fine with closing the  issue and I will also tr

[2020-03-17 16:29] samarulmeu commented on #93
It is not about taking too long, it is about when you feel confortable with your work. Please do not consider that I am eager to see it implemented and cannot wait.

I know you are using your time to deliver an amazing plugin for free and I truely appreciate your effort.

So do the things in your own pace.

[2020-03-17 17:36] SidOfc commented on #97
Ah I'm a retard lol!

Completely misread that... This is definitely something I can take a look at and should be expected to work!

Apologies for the premature close :+1:

[2020-03-17 17:51] SidOfc commented on #96
I took a screenshot of mine now too:

![image](https://user-images.githubusercontent.com/3225058/76885092-01e2d680-687f-11ea-97ef-eb5dbc98d36c.png)

In my case, it's the last line which is actually bad because if I add something below:

![image](https://user-images.githubusercontent.com/3225058/76885157-17f09700-687f-11ea-8e8c-fc12d77b66a5.png)

This is because the default markdown syntax highligh

[2020-03-17 17:57] samarulmeu commented on #96
The syntax highlightning from my example it is done by the *vim-pandoc-syntax* plugin I was mentioning.

Maybe I should also look and see if I can understand how it is done and help you implement it.

[2020-03-17 23:37] SidOfc commented on #96
Keep me posted! I'm working on the list of issues bit by bit, getting there :)

[2020-03-18 00:09] SidOfc commented on #93
@samarulmeu should be in master,
going into `v`isual mode triggers inline codeblock even if selection is multiline.
to do block quotes go into linewise `V`isual, make a selection and press the usual keymapping.

Lemme know if there are any issues :crossed_fingers:

[2020-03-18 00:49] SidOfc commented on #97
@samarulmeu added bold style to `mkdxBoldItalic` syntax highlighting group. It doesn't show up for me (Have to change more configs for that), does it show up for you?

[2020-03-18 06:50] samarulmeu commented on #93
Thank you so much! It works perfectly! Amazing job as always.

And closing...

[2020-03-18 06:50] #93 closed

[2020-03-18 07:25] samarulmeu commented on #97
I think we are getting there.

May I suggest that we change the line 56 from ` after/syntax/markdown/mkdx.vim` into:

[code]

I thought that the color will be closer to the original one and we get this way both italic and bold. But it is just a suggestion.

Thank you again!

Now, that I'm getting into this maybe I should start working on the issue #96

[2020-03-18 08:34] samarulmeu commented on #96
So, I think that it will be easier that I thought. The plugin I mentioned (*vim-pandoc-syntax*) plugin wasn't doing any highlighting for yaml files. This, **vim** already knows how to do it in the file `/usr/share/vim/vim81/syntax/yaml.vim`. And you can see that if you open, only with _mkdx_ enabled, a `test.yaml` file (see the extention) that  contains the next lines

[code]

you will get a nice

[2020-03-18 09:52] SidOfc commented on #97
Hi @samarulmeu!
 Very good suggestion to make the style bold as well as italic :sweat_smile:  I'm going to check out colors a bit better next time I work on mkdx, I used the ones from my own color scheme rather than Vim's defaults during testing hehe...

May I ask where you got those `ctermfg` and `guifg` colors from? A different syntax style or?
Because before this change `mkdxBoldItalic` linked

[2020-03-18 10:09] SidOfc commented on #96
@samarulmeu certainly!

I know how to do it, kinda, because the yaml syntax file defines syntax groups, I can choose to only load those "within" a specific `mkdxYaml` group for example. I am not sure how exactly it works but figured I'd steal from another plugin / syntax file since I believe some markdown plugins do it for highlighting the languages in marked fenced code blocks.

Cheers so far :+1

[2020-03-18 10:16] samarulmeu commented on #97
Hi @SidOfc !

Actually the color codes I got from [here](https://vim.fandom.com/wiki/Xterm256_color_names_for_console_Vim). I looked there for a color similar to the one in the screenshot I provided above in one of my comments. I thought that it will look nicer with a brownish font, forgetting about the theme. Your choice `ctermfg=14 guifg=#8a553f`is rendered as a neon light blue which is not so n

[2020-03-18 10:17] samarulmeu commented on #97
Or maybe just don't specify a color and let the theme choose it?

[2020-03-18 10:31] SidOfc commented on #97
@samarulmeu this will not work since it is a custom highlighting group. It has no "pre existing" rules so to speak (maybe you'll see bold and italic styles mixed in bold-italic texts instead). For this reason I need to "inherit" from `Delimiter` which is what `mkdxBoldDelimiter` _is also_ linked to.

Problem is I need to customize `Delimiter` to add the bold and italic styles and if I need to do t

[2020-03-18 10:40] samarulmeu commented on #97
Already seems complicated. Maybe just choose a color. From my part I think that the problem is solved, so I will close this for now.

As a workaround I will define the color for `mkdxBoldItalic` in my `vimrc` until you find a solution.

[2020-03-18 10:40] #97 closed

[2020-03-18 13:10] samarulmeu commented on #96
So, after searching and reading the code from the above mentioned plugin I got to this lines:

[code]

Maybe they are of some help.

[2020-03-18 18:55] SidOfc commented on #97
@samarulmeu I pushed another update which should fix the color inconsistency, is it better?

[2020-03-18 19:38] SidOfc commented on #96
@samarulmeu I quite literally copied them and it worked :raised_hands:

I also added a check to see if the YAML syntax file exists. If this isn't done, vim could crash with an ugly warning on startup. Thanks for the research and essentially the implementation, I think you've made more people a bit happier when they look at their front-matter next time. :+1:

[2020-03-18 19:45] SidOfc commented on #95
@dzackgarza hello!

Just wanted to ask, any more news on this?

[2020-03-18 20:11] samarulmeu commented on #96
I hope that I was clear enough. The line is from the vim-pandoc-syntax plugin. I think they have a MIT license, but I think they should have credit for it. I look tomorow at the exact line and file.

[2020-03-18 22:52] SidOfc commented on #96
@samarulmeu I'll be happy to include a line of credit for whomever wrote this piece of code, I might beat you to it :)

[2020-03-18 22:54] SidOfc commented on #96
As a matter of fact, it doesn't seem to be the case since I don't think that "two lines" falls under "substantial parts" of the software. However I will add a line of credit above the code (I've done this for other snippets I shamelessly stole too heh)

:+1:

[2020-03-18 23:02] SidOfc commented on #96
Alright, credits added, I looked a bit closer and also decided to include the try catch :)

Also fixed another bug, it seems that not all highlighting was shown before. Should all work properly now though. Keep me posted :)

[2020-03-19 07:59] samarulmeu commented on #96
I checked and everything is perfect now and the new Bold and Italic is looking nice (taking the color from the theme).

I looked again in the code from vim-pandoc, and maybe you were right, actually the only thing borrowed was the regular expression, all other stuffs are common knowledge. Sometimes I am more catholic than the pope :).

Thank you again! Now I have no more reasons to procrastinate a

[2020-03-19 07:59] #96 closed

[2020-03-19 10:16] SidOfc commented on #96
@samarulmeu any day, thank you for the many useful tweaks! Good luck with the writing :)

[2020-03-23 18:52] SidOfc commented on #95
Since it's been over a week without a response, I'll close this issue if it remains inactive for another week.

[2020-03-25 09:54] yutakatay opened #99 "E421: Color name or number not recognized: ctermfg= guifg=#d4be98 cterm=bold,italic gui=bold,it alic"
**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:

[code]

**Reproduce steps**:

Example:

1. This is minimal vimrc (/tmp/mini.vim)

[code]

2. open mardown file `nvim -u /tmp/mini.vim ~/.vim/plugged/mkdx/README.md`
3. An error occurred (from c227f9ac5cd0e10debea6fef0e725ba136d31d46)

**Expected**:

No error

[2020-03-25 10:39] SidOfc commented on #99
Hi @yutakatay, thank you for reporting this issue! I'll look into it as soon as I can :+1:

[2020-03-25 11:59] SidOfc commented on #99
@yutakatay I pushed a fix to master, `cterm` and `gui` will now be set to a default color if its missing / empty, let me know if it works, feel free to close if it's fixed otherwise I will close it after confirmation (or a sudden month of inactivity hehe)

Cheers again for the report :+1:

[2020-03-25 12:44] yutakatay commented on #99
It worked!!

Thank you very much :joy:

[2020-03-25 12:44] #99 closed

[2020-03-28 03:14] dzackgarza commented on #95
Seems to have been a plugin conflict! No clue which it was though, sorry.

[2020-03-29 10:23] SidOfc commented on #95
Hello again @dzackgarza!

No problem! I noticed you had your dotfiles up on github so I decided to grab your [vimrc](https://github.com/dzackgarza/dotfiles/blob/master/vim/vimrc.symlink) and test it :)
Unfortunately though, I could not reproduce the issue, When I, for example, go to a list like:

[code]

And perform `3>>.` it actually does the correct thing for me. I must add that I made **one cha

[2020-03-29 10:23] #95 closed

[2020-05-07 18:26] victorkristof opened #100 "Use gf/gx to open files/URLs from anywhere in a link"
Hi there! I really enjoy your plugin, that's really great great work.

I'm using Markdown to take notes, and I often link one note to another like this:
[code]

With the cursor positioned between the squared brackets (indicated by `^`), I tried to use <kbd>gf</kbd> to open `other-note.md` but it didn't work.

It does work with <kbd>gx</kbd> though (and when the link is a URL).

Any chance to make

[2020-05-07 18:54] samarulmeu commented on #100
I do not think is a wise thing to change the standard behaviour of the `gf`.

There is another way of linking files using `[[some-file.md]]` and then you can use gf inside the `[[`

[2020-05-07 19:10] victorkristof commented on #100
But this is then inconsistent with <kbd>gx</kbd>, which does work inside the squared bracket - no?

Good point for `[[some-file.md]]` but it lacks the `(description)`, which is useful.

[2020-05-07 21:45] SidOfc commented on #100
Hello @victorkristof!

Thank you for taking the time to submit an issue, it's always appreciated :)
I must say though, that mkdx touches neither of these mappings, so both `gx` and `gf` should behave like regular vim/nvim.

I checked `:h gx` and it takes me to a `netrw-gx` section whereas `:h gf` takes me to a built-in section, perhaps it is netrw that enables this enhanced version of `gx` to work

[2020-05-08 09:50] victorkristof commented on #100
Alright, my bad, actually <kbd>gx</kbd> doesn't behave like I thought it did. It doesn't open the URL from within the brackets. Sorry for that...

That being said, I still think it could be a nice-to-have feature for both <kbd>gf</kbd> and <kbd>gx</kbd> to open a file or a URL when the cursor is within the brackets. (I think some other Markdown plugins have this feature, but I prefer yours :p).

I

[2020-05-08 10:10] victorkristof opened #101 "Toggle bold, italic, and strike styling"
Hi!

I really like to be able to toggle quotes and list types.

Would it make sense to also enable `<Plug>(mkdx-text-bold-n)` (and its italic and strike counterpart) to *toggle* between `**text**` and `text`?

Currently, <kbd><MAP_PREFIX>b</kbd> performed on `**text**` gives `****text****`, which isn't really useful.

[2020-05-08 12:14] SidOfc commented on #100
@victorkristof, seeing you mentioned other plugins do support it, it might actually be interesting to support it as "disabled by default, when enabled, only apply to markdown filetype buffers".

I've done this with many features as to not step on users' preferences, if they want something from mkdx, they can choose to opt-in instead which allows me to make quite a lot of crazy functionality :)

I'

[2020-05-08 12:22] SidOfc commented on #101
Ahh yeah, I figured this one would pop up someday :)

The thing here is that figuring out the boundaries is sometimes quite tough to do, depending on wether or not a certain applied style (bold / italic) spans multiple lines.

That said one can always `u` to undo a broken move. And you may be the first to want this (and open an issue about it) but I'm sure you're not alone (I've just lived with re

[2020-05-08 12:27] samarulmeu commented on #101
Will it be possible to toggle between selected text maybe? Just a thought...

[2020-05-08 14:16] SidOfc commented on #101
@samarulmeu I think it would be more effort to first have to select the text and then unmark it, as opposed to just unmarking stuff around the cursor directly.

This is only the case for unmarking though, since it does make sense to start a selection and later figure out where you want it to end, and apply stuff around it after you've selected what you want.

In any case I think basic toggling of

[2020-05-08 14:58] samarulmeu commented on #101
@SidOfc Thank you for your kind words. I really like the plugin and it replaced some other markdown plugins for me, that is way I am following all the issues trying to help in making it better.

My latest suggestion was based on what I considered to be easier. I think is easy to select text betweend bold or italic mark amd then just toggle them. Having the plugin do the switch in normal mode will

[2020-05-10 23:57] al3xandru opened #102 "Question: is anything needed to enable the plugin?"
This will probably sounds a little odd, but after adding the plugin to my `.vimrc` and installing it, I
cannot tell if the plugin is actually active or not.

1. When inside a list, Enter in insert mode or o in normal does not create a new item
2. `<Prefix>t` doesn't seem to check a checkbox
3. but `:echo g:mkdx#settings` displays a bunch of settings.

How can I check if the plugin is active?

[2020-05-11 08:43] SidOfc commented on #102
Hi @al3xandru,

Thank you for reporting! Does nothing work, or only some mappings? It's a good thing you checked for `g:mkdx#settings`, this means that at least the mappings and settings do get loaded.

It could depend on your plugin manager, which one do you use? If you've manually installed it I'd need more info as to which files you copied.

In any case, mkdx [does not step on user-defined mapp

[2020-05-11 09:59] victorkristof commented on #100
Hey @SidOfc, this sounds great!

I've seen [vim-markdown](https://github.com/plasticboy/vim-markdown) implement this for <kbd>gx</kbd>. As per [this comment](https://stackoverflow.com/questions/26919972/follow-link-in-vim-with-markdown-syntax), here is the [entry point](https://github.com/plasticboy/vim-markdown/blob/028a7613eadf84d4e75c2eaa87b1cc756774f9c5/ftplugin/mkd.vim#L472) to their implemen

[2020-05-11 10:30] victorkristof commented on #101
Thanks @SidOfc and @samarulmeu for the comments! I believe the behavior of this feature could be rather simple (using bold as an example).

1. **Case single word**: <kbd>\<prefix>b</kbd> inserts `**` around the word under cursor if the word doesn't already have `**`, and it removes `**` if the word is already surrounded by `**`.
2. **Case multiple words**: <kbd>\<prefix>b</kbd> removes `**` if the

[2020-05-11 10:39] victorkristof opened #103 "Give a count to bold/italic/strike mappings"
I really like how wrapping works, it makes it so easy to add markup to text. Most of the time I want to mark in bold or italic a single word only, so using <kbd>\<prefix>b</kbd> is really convenient. But when I want to do it for several words, I need to visually select them first.

Would it make sense to add a count to these actions, such that <kbd>[count]\<prefix>b</kbd> would mark the word under

[2020-05-11 11:30] SidOfc commented on #100
Cool cool @victorkristof, thank you for gathering the info,

I'm a bit busy coming week but may be able to squeeze it in somewhere, otherwise possibly coming weekend.

Thanks for your patience in the meantime :)

[2020-05-11 11:33] SidOfc commented on #101
@victorkristof indeed that is an amazing suggestion, I never thought about using the syntax highlighting group to detect the boundaries of bold marks! In my mind I was already traversing the file left / right and up / down in order to find boundaries, but this seems like it could make life a whole lot easier and less bug riddled, I will give that a shot hopefully this week as well!

[2020-05-11 11:38] SidOfc commented on #103
Hi again @victorkristof, you are on :fire: my man, I like it! :+1:

I think this should also not be too hard to implement and would make sense indeed, thank you for yet another good suggestion <3

[2020-05-11 15:46] SidOfc commented on #102
Hi again @al3xandru, I made an edit to my above comment since the section about loading mkdx first will not do anything actually, my bad there!

[2020-05-12 01:11] al3xandru commented on #102
Thanks for the follow up. As I don't really know how to start tracking this I will take it step by step.

1. `echo g:mkdx#settings.enter.enable` -> 1
2. `echo g:mdx#settings.tokens.enter` -> ['-', '*', '>']

Given the above, my expectation was that while in a list item (or inside a blockquote), pressing enter would automatically add the prefix character to the next line.

1. This is not happening.

[2020-05-12 01:23] al3xandru commented on #102
Next experiment. I have added the following settings in my `.vimrc`:

[code]

After reloading, restarting:

[code]

When starting vim from Terminal:

[code]

I'm using [vim-plug](https://github.com/junegunn/vim-plug) as a plugin manager.

[2020-05-12 09:30] SidOfc commented on #102
Hi @al3xandru,

that is strange indeed, it's the first time I'm hearing of the issue that the settings are undefined :thinking:. Which kind of "Vim" are you using? Also, which version of Vim/Nvim/Gvim are you using? Where did you put the settings (did you place them below `call plug#end()`)?

Also, can you try other mappings? Like try to mark something as bold using `<leader>b`? Please try more th

[2020-05-13 03:55] al3xandru commented on #102
I didn't know about the `:verbose map` command. Thank you.

Both are returning the mkdx binding. The mystery continues.

My `.vimrc`: https://github.com/al3xandru/dotfiles/blob/vimplug/.vimrc

-----

I don't know of any ways to try a plugin in isolation. Can you point me towards anything?

-----

You asked above about versions:

vim (built from source):

[code]

Macvim (latest):

[code]

[2020-05-13 07:21] victorkristof commented on #103
Glad to hear!

By the way, currently <kbd>\<prefix>b</kbd> is applied on a Vim `word`. I think it would make more sense to apply it to a `WORD`.

In fact:
[code]
becomes
[code]
when I press <kbd>\<prefix>b</kbd>. But I was expecting
[code]

[2020-05-13 07:23] victorkristof commented on #100
Sure, no problem! Thank you for the great work!

[2020-05-13 10:01] victorkristof commented on #102
For the record, I get the same error when sourcing my `vimrc` once a markdown file is loaded in a buffer. The plugin works fine except from that.

[2020-05-13 11:42] victorkristof commented on #102
@al3xandru You could try to disable all the settings you have for Markdown in your config, except for mkdx: comment out everything between line 1012 and 1136 in your vimrc linked above, but keep line 1022.

Run
[code]
and restart Vim.

Does it work now?

[2020-05-13 13:43] SidOfc commented on #102
Thank you @al3xandru for your reply, I will check it out ASAP (got friends over tonight so will be tomorrow at best), well done on confirming that mkdx bindings are in fact mapped as well, this means it could be a bug in mkdx's enter handler (hope not though, ugliest code I ever wrote hehe :sweat_smile:).

And also @victorkristof thank you for checking this out and finding out what causes the `g:m

[2020-05-13 13:45] SidOfc commented on #103
It depends on how `WORD` is defined for markdown, since if it contains `.` characters it would cause bolding text to include punctuation within bold style, will check it out!

[2020-05-14 03:42] al3xandru commented on #102
While I cannot offer a comprehensive confirmation of what works and what not, I'd say that:

1. majority of bindings work. The default prefix being `<leader>` increases the chances for conflicts. As a suggestion, would it be safer to make the prefix `localleader` instead?

2. what I cannot get to work is list completion on `Enter` and `o`. Amazingly, `O` works :-).
`:verbose map` displays the corr

[2020-05-14 03:54] al3xandru commented on #102
@victorkristof @SidOfc can you share what version of vim are you using (not sure the OS matters)? On my system, neither terminal vim, nor MacVim accept settings in the format `let g:mkdx#settings.enter.enable` complaining `g:mkdx#settings` does not exist.

[2020-05-14 08:37] SidOfc commented on #102
Hi @al3xandru,

I just took a quick look at your vimrc and **disabled all plugins except mkdx** so all other `Plug github/repo` things were commented and some settings causing crashes due to missing plugin code were disabled too.
The result was that mkdx worked as intended, both `o` and `enter` started working after I did that.

I do not know however, which plugin was in the way, you have quite a

[2020-05-14 09:06] SidOfc commented on #102
For reference, this is your vimrc with my "tweaks" which did make it work (note: I did not check if localleader / italic token were actually applied properly, I think they will be):

[code]

[2020-05-14 16:55] SidOfc commented on #102
@al3xandru alright, checking back in after doing some additional research, found the culprit:

![image](https://user-images.githubusercontent.com/3225058/81961426-a597fb00-9612-11ea-8f10-36335f8a8dbf.png)

All I did was ran `:verbose imap <cr>` while editing a markdown buffer.
And indeed, disabling this plugin:

[code]
I also found the following in the [README](https://github.com/tmsvg/pear-tree)

[2020-05-14 16:55] #102 closed

[2020-05-15 02:25] al3xandru commented on #102
@SidOfc I really appreciate the investigation you have done. While I do see the mapping you are pointing too, what is the explanation of this:

[code]

That seem to suggest that mkdx is the one that should be invoked, right?

[2020-05-15 03:20] al3xandru commented on #102
What I ended up doing is:

[code]

[2020-05-15 08:41] SidOfc commented on #102
@al3xandru you said that you saw the mapping I was pointing to (assuming its the pear-tree one), yet you show me a different one, so did you run `:verbose imap <cr>` twice in a row with different results, or are you only showing the "relevant half" of the output you see?

I mean, you are correct in that if you see:
[code]

the plugin **should** be called. Perhaps it is a difference in `:verbose` b

[2020-05-16 11:42] SidOfc commented on #103
@victorkristof yoho!

Been working on this a little bit, I think #104 supports all the behavior in this PR and a bit more and actually also fixes some small deficiencies I noticed while testing.

You can pull master to check it out, let me know if anything doesn't work properly for you, otherwise I think this one can be closed :)

[2020-05-16 13:23] SidOfc commented on #101
Did some more research, while I can actually identify the highlighting group below the cursor, the start / end positions of the highlighting group the cursor is on are not in the results. I've checked `:h function-list` and it doesn't have any functions for getting them either.

Had some high hopes for that information being given to me by Vim/Nvim but it seems like traversing current line and pos

[2020-05-16 15:45] SidOfc commented on #101
I've got a crude working implementation of it now, but because of the way vim applies highlighting (it's inconsistent, ugh) there are some edge cases that need to be taken care of...

basically, given: `**hello world**`, the text `**hello world` has the highlighting group `markdownBold` but the last two `**` at the end only have `markdownBoldDelimiter` :facepalm:

Aside from that I'm a bit worried

[2020-05-16 19:04] SidOfc commented on #101
Alright, actually pushed through a bit and got it working, this one is also in master now, you can update mkdx normally. Let me know if anything breaks for you, otherwise I think we can also close this one :)

The only thing it doesn't do is handle bold+italic mappings since these are essentially "composite" of a bold+italic marker and the syntax highlighting mkdx applies doesn't respect them as i

[2020-05-16 19:14] victorkristof commented on #101
That's really great! I have some errors unfortunately :/

1. When I press <kbd>\<localeader>b</kbd> to bold the word under my cursor, I get this error:
[code]
and then `**function(data_set,**` replaces the word I want to bold.

2. When trying to toggle some bold text, I get the same error as above (without the `function(data_set,` thingy). But the text gets unbolded after the error is displayed.

[2020-05-16 19:15] victorkristof commented on #103
See [my comment](https://github.com/SidOfc/mkdx/issues/101#issuecomment-629693480) in #101 :)

[2020-05-16 19:20] SidOfc commented on #101
@victorkristof hmmn that is quite interesting, can you provide a case to reproduce this issue? It could be because I am safeguarding `get(v:, 'count1', 1)` in my code...

Just opened vim and indeed marking text there doesn't work at the momoent. in Neovim this does work however... I'm on it!

[2020-05-16 19:26] SidOfc commented on #101
hmmn, regular vim (at least mine) refuses to load mkdx all-together now... interesting indeed

[2020-05-16 19:34] SidOfc commented on #101
@victorkristof I reset master to an earlier point in time, does it restore "old" functionality for you?

[2020-05-16 19:47] SidOfc commented on #101
@victorkristof I've reset master back to before any feature merges (so even further than my last message), seems regular vim now works again but holy freaking hell...

I usually develop in neovim and usually, neovim and vim aren't too different. In this case however, I have no idea what causes this issue at all... Unfortunately the error messages more harder to decipher than chinese. It is complai

[2020-05-16 20:26] SidOfc commented on #101
@victorkristof figured it out...

It seems that, if you use `let count = `  in regular vim, it trips because it thinks I'm trying to modify an internal variable `v:count`:

![image](https://user-images.githubusercontent.com/3225058/82129526-e5521480-97c3-11ea-8750-3c00cba8918a.png)

I fixed it and added a note in the code to clarify:

![image](https://user-images.githubusercontent.com/3225058/8212

[2020-05-16 20:28] SidOfc commented on #103
@victorkristof if you update again it should be fixed, re-merged all features I removed before

[2020-05-16 20:48] victorkristof commented on #101
Well done! It works smoothly :)

I found another (smaller) bug though...with a potential solution.

If I toggle bold on a snake-cased word, I get two different results:
[code]
and

[code]
The second instance is broken I guess.

I think I suggested in #103 to wrap around `WORD` rather than `word`.
But I realize that since we can now give a `count` to the mapping, then it is easy to wrap `snake-case

[2020-05-16 20:49] victorkristof commented on #103
Awesome! The count works perfectly and will be super useful. Thank you!

[2020-05-16 20:51] SidOfc commented on #101
Ahh nice catch @victorkristof this should be easy to fix actually, I use regular motions to move cursor around so all I had to do is replace `w` with `W` to move WORDS, but I also move the cursor back using a likewise motion `b`, changing this to a `B` will likely fix it, will check it out right now, stay tuned :P

[2020-05-16 20:53] SidOfc commented on #101
Should be working now actually :)

[2020-05-16 20:56] victorkristof commented on #101
Hmm nope, same problem...

[2020-05-16 20:57] SidOfc commented on #101
Ahh cool cool!

Does this mean we can close this one? :)

[2020-05-16 20:59] SidOfc commented on #103
Aight, with that I'll close this one, let me know if you see any more issues, feel free to reopen if you do!

Cheers for the suggestion, I may end up using this one myself now as well :)

[2020-05-16 20:59] #103 closed

[2020-05-16 21:00] victorkristof commented on #101
Ok one last thing. You were right about punctuation. If there is punctuation right after the `snake-cased` word, then the punctuation will be included:
[code]

Any chance to exclude the last character of the `WORD` if it is *not* part of a `word` or something? :)

[2020-05-16 21:03] SidOfc commented on #101
Yeah was just typing this one out in a message actually, I haven't found a way to "change" the definition of a WORD (`:h WORD`) but I may be missing something, a WORD is basically any non-whitespace and sentences could also end in comma's, semi-colons etc so this is more difficult than it looks.

I think it'll be easier to move the punctuation out manually in this edge case, because otherwise I'd

[2020-05-16 21:05] SidOfc commented on #101
Alternatively, I could provide a setting which would allow wrapping to occur per WORD or word, since as you mentioned before, wrap mappings may now be prefixed with count, which could solve it that way.

[2020-05-16 21:06] victorkristof commented on #101
Alright I see, I don't have a strong opinion right now, I guess I'll have to use the plugin for a few days in real situation to make my mind. If this turns out to be a problem, I can open a bug issue later so that you can close this one :)

Anyways, thank you for the reactivity and implementing the feature so quickly!

[2020-05-16 21:12] SidOfc commented on #101
Alright, that sounds good to me!

As for the option, I believe mkdx already has 40+ settings so another one won't do harm, perhaps the default could be changed back to "word" wrapping etcetera but this is something we can discuss later.

Give it a test drive and let me know what you think if indeed it bothers you, your input has been valuable and useful for other users (though we won't hear about

[2020-05-16 22:05] SidOfc commented on #100
Alright @victorkristof, should be there as well now in master (no crazy count bugs this time I promise :P)

What I did was just enhance `gf` since it is faster to press than `gx`, this also allows netrw to keep control over `gx` even though that can also be "proxied" if need be.

It will open files and URL's from anywhere in a markdown link but anywhere else it acts like regular `gf`. Open for any

[2020-05-17 02:02] SidOfc commented on #101
just in case you're wondering about the `.` scenario, I reverted back to using `word` as you suggested. For me, `word` actually includes `-` characters as well so using `WORD` wasnt needed.

I also found a setting which I can use with `word` (not `WORD` though) which is called `iskeyword`.
Testing in both vim and neovim yielded the same results so I think it should support the `.` scenario properl

[2020-05-17 06:46] victorkristof commented on #101
Ok, interesting. Actually setting `iskeyword` is the best option. I now have this in my vimrc:
[code]

This works majestically!
Might be worth mentioning in the doc :)

(I don't why you have it by default. Did you set it explicitly as well? Do you have `set lisp`?)

Anyway, problem solved - thanks!

[2020-05-17 08:29] victorkristof commented on #100
Just tested it - really cool! A few bugs on my side:

1. When using <kbd>gf</kbd> outside of a link (say, on "text"), it shows
[code]
It should only display `E447: Can't find file "text" in path`.

2. When the link is a path to a file, then it doesn't work when the cursor is in the "parenthesis" part of the link:
[code]

It works fine when path/to/file.txt is not in a link, and it works with URLs

[2020-05-17 09:37] samarulmeu commented on #100
My thoughts on the subject

I agree with @victorkristof that this is not nice. The standard behavior of `gf` must still be available. I think that a plugin should try as much as it can not to overwrite the standard behavior of vi. And is easier to remember `gf` (*f* from file).

Thank you both for making the plugin better.

[2020-05-17 10:16] SidOfc commented on #101
Actually don't have either `lisp` or `iskeyword` modifications at all so it must be something else, or perhaps it depends on version / platform (would be really odd though).

I can add a mention in the README, glad this worked for you as well!

[2020-05-17 10:31] SidOfc commented on #100
Alright, cheers for the feedback!

I believe the first point is just about verbosity of the error, so now it will require you to press "enter" explicitly whereas before it would just show up in the bottom. Will fix that one.

I'll also look into the second issue as well, it _should_ function exactly like `gf`, all I'm doing is moving the cursor to the position of the file (inbetween parens) and th

[2020-05-17 10:37] samarulmeu commented on #100
Actually my problem was with issue no. 2 of @victorkristof . `gf` not opening files inside a markdown link. Only now I've seen the wrong numbering in the quote.

I like the new way `gf` opens the _link_ to the file, buy I would also prefer the default behaviour of `gf` to be available.

[2020-05-17 10:42] SidOfc commented on #100
Of course @samarulmeu I understand, this is indeed not intended but rather a bug which I am currently working on :)

[2020-05-17 10:47] SidOfc commented on #100
@samarulmeu @victorkristof

1 should be fixed
2 should also be fixed
3 is something that I need more info for, if this behavior is annoying or can be ignored instead, It's not exactly clear what I should so here from my perspective (also since my opinion differs on it from you guys)

Cheers for pointing these things out, 1 and 2 were definitely unintended bugs and perhaps 3 is too, looking forward

[2020-05-17 11:15] SidOfc commented on #100
I'd also like to stress that both of you have been very useful and constructive during all this, thanks for that and taking the time to think about what is good and bad behavior, these are usually things I have to figure out by myself. It really is lovely to have multiple brains crunching on these scenario's :)

[2020-05-17 11:30] samarulmeu commented on #100
Thank for your kind words. But from my part, all the praise goes to you as you are doing the hard work.

Now `gf` works as expected.

Concerning 3 I also think that `gf` and `gx` should have different behavior like in normal vim (although `gx` is provided by netrw).

Some new _issue_ that I discovered: it will be nice to have the same thing on images too `![image](image.png)`. Having the cursor on

[2020-05-17 11:40] SidOfc commented on #100
@samarulmeu the `gf` mapping now also supports opening images from anywhere in a markdown link, it basically works the same way as it does with URLs now :)

[2020-05-17 12:36] SidOfc commented on #100
I'd also like to expand on some reasoning actually.
I think that the mnemonics could also be defined as follows:

- `gf` could also mean **g**o **f**ind, which would make it mentally ambiguous.
- `gx` could also mean **g**o e**x**plore, which would be equally ambiguous.

I know Vim literally specifies `gf` as mnemonic for `goto file` but don't think it **must** be a "local" file for that reason (a

[2020-05-17 12:46] samarulmeu commented on #100
Thank you for the quick answer and solution. I start by apologizing, but it should have been the other way around. To be consistent `gx` should have the behavior that you've now implemented with `gf`. `gx`  should open external program for viewing images and `gf` opening them in vim (no use of it this way, but this is standard vim).

Hope I was clear enough.

From [here](https://vim.fandom.com/wik

[2020-05-17 12:57] SidOfc commented on #100
I understand this @samarulmeu, I mentioned that I know that Vim literally defines this as `goto file` :)
My question is though, where is the **harm** in allowing both to do exactly the same? e.g. both handle internal file opening and external file handling?

If you want to use `gx` on links? You can, wanna use `gf` because its faster? You can.
This is mainly the point I'm trying to get across here

[2020-05-17 12:58] SidOfc commented on #100
Or well, that is if I make `gx` act like `gf` which currently it does not, but is very easy to add.

[2020-05-17 13:04] SidOfc commented on #100
Oke, I just remapped `gx` to be exactly the same as mkdx's `gf` in every respect so now you should be able to see what I mean with this flexibility :)

[2020-05-17 13:21] SidOfc commented on #100
Finally, if we really do want to respect the spirit of Vim, this is something I can't actually deny either when I think about it. In this case I can add a setting to mkdx (which will then also be enabled by default, e.g. respect Vim by default) which will limit `gx` to external and `gf` to internal functionality.

I think I'll actually just go ahead and add this setting and I'll just edit my vimrc

[2020-05-17 13:25] samarulmeu commented on #100
My apologies! I've seen your second message only later.

I updated to the latest version but in this case
[code]
if I press `gx` it doesn't open an external viewer. `gf` does.

About the `gf` vs `gx` issues. I get your point of view and, indeed, `gf` is easier to press, but you have to consider  that most people start learning vim and have a certain expectation for *standard* commands. For me a gr

[2020-05-17 13:46] SidOfc commented on #100
@samarulmeu alright, think I've got it implemented by default the way you and victor initially suggested. `gf` will only be internal, `gx` will only be external, by setting `g:mkdx#settings.gf_on_steroids = 1` it allows both `gx` as well as `gf` to be used interchangably.

I've also fixed the issue with `gx`, it actually refused to map before because netrw already maps it by default, for markdown

[2020-05-17 13:56] samarulmeu commented on #100
Thank you so much! That is great. For the moment nothing I can see. And also toggling bold, italic (#101) was a nice touch. I was missing it, but as I work my way into vim using VISUAL mode and different commands I thought is a way to learn. So much easier now!

Again, great job!

[2020-05-17 14:00] SidOfc commented on #100
Alright, I'll also wait for @victorkristof to report back and to let the functionality "sink in" a bit, perhaps something may pop up later still. In any case I'm glad you were able to change my mind since I do think you are correct about key expectations (especially for folks learning Vim and dabbling around with plugins).

If victor also says it's good as-is then I will proceed to close this issu

[2020-05-17 15:57] victorkristof commented on #100
This is absolutely perfect! No bug to report, and the behavior of <kbd>gf</kbd> and <kbd>gx</kbd> is exactly how I expected it!

Thank you @samarulmeu for providing great arguments to have it that way :)
And of course kudos to @SidOfc for implementing this amazing plugin!

Have a nice weekend both of you and thank you for the discussions.

[2020-05-17 17:06] SidOfc commented on #100
Alright, closing this one, have a good remainder of the weekend!

[2020-05-17 17:06] #100 closed

[2020-05-17 19:20] #98 closed

[2020-05-17 19:25] SidOfc commented on #87
@lyneca In #92 we may have found out what the issue was, mkdx had a duplicate helptag which caused Vundle to fail installing mkdx, just wanted to come back to it to clear it up :)

[2020-05-18 10:33] samarulmeu opened #107 "Inserting list items"
There is a bug in creating a new items for both types of list (bullet and ordered). If you are at the end of the line and you press enter a new item is created, but if you are inside a line and press enter the remaining characters/words do not make a new item list.

Example:

[code]

I get

[code]

instead of

[code]

[2020-05-18 10:38] samarulmeu commented on #101
A bug I discovered today, when writing: if the word is the last one, without any space after it and you try to toggle it will also take the space before

Example:

[code]

Trying to bold words I get

[code]

Instead of

[code]

Italic shows the same behavior.

[2020-05-18 10:40] samarulmeu commented on #101
Please see my edited last comment. I accidentally added a dot at the end of the example.

[2020-05-18 13:18] SidOfc commented on #101
Alright, reopening, may take a few more days since I already planned a bit ahead this week, cheers @samarulmeu :+1:

[2020-05-18 13:20] samarulmeu commented on #101
No problem. Take your time.

[2020-05-18 13:52] SidOfc commented on #107
Hmmn, actually is this a bug?

When checking the [example on the documentation](https://github.com/SidOfc/mkdx#inserting-list-items) page, it makes no mention of this being an actual feature, also `:h mkdx-function-enter-handler` makes no mention of this behavior being supported.

If you did see a mention of this somewhere, can you point me to the place where you found it?

I do recall adding some

[2020-05-18 14:12] SidOfc commented on #101
After some quick checking, it is an issue in vim only, neovim handles it properly (this is just a note to self)

[2020-05-18 14:31] samarulmeu commented on #107
Actually I did not search the documentation. I just thought it will be _normal_ to have the same behavior in creating a new list item by _splitting_ a line.

To solve it I do just insert and `- `, but I thought that it is nice to have it automaticaly added. Not to mention the mess in the ordered list that does not get properly updated.

[2020-05-18 14:44] SidOfc commented on #107
Makes sense indeed, this is something that word will happily do for you as well, but please do mind that _unsupported behavior_ isn't a _bug_ but rather a _feature request_ :)

When I think of the word _bug_ I immediately jump to "some _existing_ functionality is broken" :sweat_smile:

As for this request, I'll mark it as a feature request and see what I can do, it could be easier than thought, bu

[2020-05-18 14:57] samarulmeu commented on #107
Please take your time. There is no hurry. I know that you make this in your free time and it amazing that you are offering such a nice plugin.

My *logic* in considering this as a bug was that "splitting" a line in an ordered/bullet list is not different than just adding a new empty one and I thought it makes sense to have the same behavior (adding a bullet or a number to the line empty or not, in

[2020-05-18 15:26] SidOfc commented on #107
I can understand the reasoning behind you thinking this being a bug because it doesn't seem like a separate use-case indeed. In this case though, checking the docs and seeing if it is supposed to work will make it clear if something is actively implemented and not working, or if it should be a new feature.

To me it seemed a bit quick to jump to the conclusion of marking it as a bug without checki

[2020-05-18 16:33] SidOfc commented on #107
Hmmn @samarulmeu I did indeed write tests to check explicitly that it would not do what you showed, but, after disabling the check to make sure enter is pressed at the end of the line, I see proper results one would expect when pressing enter in the middle.

The reasoning for this is beyond me since it has been quite a while since I initially wrote this functionality, but I believe always allowing

[2020-05-18 16:36] SidOfc commented on #107
Can you update mkdx and check to see if this is indeed the desired behavior?

[2020-05-18 16:46] samarulmeu commented on #107
Thank you so much! That is just perfect! And I promise that I will not bother you this week as you've mentioned you have work to do.

And to clarify --- it was strange for me that this was not supported as I saw it  as part of the list auto-formatting, that's why the bug thing.

Have a great evening!

I'm closing this now.

[2020-05-18 16:46] #107 closed

[2020-05-18 17:46] SidOfc commented on #107
Haha I understand, it beats me why it worked that way but I think it will just be more useful now..

Feel free to open issues is you find em, if I can't process them they will remain open for a bit longer is all :) This one happened to be way easier to fix than I imagined (I went through some nightmares in the past with the enter handler hehe) so that was a nice twist :)

You have a great evening

[2020-05-18 17:56] SidOfc commented on #101
Nevermind above comment, I performed a slightly different check in neovim where it did work (having cursor on last char of last word) both are equally broken.

[2020-05-18 18:10] SidOfc commented on #101
Alright, should now also work properly @samarulmeu although I did find a new issue whereby if you try to quote an actual punctuation mark:

[code]

I doubt anyone really wants to do this though however, if it does pop up, let's not reopen this anymore since this one is getting quite long now :)

[2020-05-18 18:22] samarulmeu commented on #101
Thank you again. You've made my day! I think that the issue with the dot mark is strange and will not be encountered.

How I've stumble upon the issue I've mentioned: I was writing something and then I thought I should emphasize this so `Esc` (cursor stays on word I was writing) and then `<leader>+/` and voila! I can continue writing. And this way also I don't have to insert manually the emphasize

[2020-05-18 18:27] SidOfc commented on #101
Cheers for detailing this, there's probably some more edge cases lurking in the dark with text wrapping (especially multi-line which I did end up writing some traversal logic for).

In any case will close this one permanently now, new issues are welcome as usual samarulmeu :+1:

Note: I honestly thought this one would be more difficult, but I keep finding new ways to fix these things lately :sweat

[2020-05-18 18:27] #101 closed

[2020-05-22 12:51] Ginner opened #108 "Link concealing [feature request]"
Hi Sidney!

First off, thank you for a great plugin. I've been using it for a little while.
In the documentation it says that it is not a 'syntax plugin', so I've been using the, also great, vim-pandoc-syntax as a stand-alone syntax plugin.

However, it seems that your plugin is actually a pretty good syntax-plugin as well. The only thing I'm missing after turning off vim-pandoc-syntax is conceali

[2020-05-22 14:58] SidOfc commented on #108
Hey @Ginner!

I remember you also sent a PR to fix a typo in the README, glad to see you're happy still :)
As for mkdx not being a syntax plugin, indeed I did not intend for it to be one so even to this day, it only "appends" syntax so that it can be used with an existing markdown highlighter (mainly the default one, but other syntax-only markdown plugins should work as well).

Even the appended s

[2020-05-22 19:19] SidOfc commented on #108
Hi @Ginner,

Worked on it a little bit, I doubt a flag will even be needed because if a user actually sets `conceallevel` it means they likely want to just conceal the text anyway. I'd love to hear any thoughts about wether mkdx should allow this being optional even when `conceallevel` is set though, feel free to comment.

Also, you mentioned it just showing the text, does that mean vim-pandoc-syn

[2020-05-22 20:37] Ginner commented on #108
Wow, you're effective!

I think you're right in your assumption, that users enabling concealment will want the feature on. At least I do ;)

No, you're right, vim-pandoc-syntax leaves the square brackets, which I find preferable. sorry for that.

I've tried it and it works perfectly! Thank you so much :)

[2020-05-22 21:09] SidOfc commented on #108
Haha cheers for the compliment :)

And no problem either, good to know vim-pandoc-syntax leaves them too :)
Should issues pop up with it feel free to reopen!

In the meantime, enjoy the feature, and closing :)

[2020-05-22 21:09] #108 closed

[2020-07-29 20:55] Mayrixon opened #112 "Modify key binding ways for compation with vim-which-key"
Modify key binding ways for competition with vim-which-key

Hello, thanks for the efforts on providing this fantastic plugin. I love some shortcuts provided, such as the one can convert CSVs to tables.

However, I found this plugin cannot work with [vim-which-key](https://github.com/liuchengxu/vim-which-key), a plugin aiming to help people remember shortcuts. I am using <kbd>\<space\></kbd> as the

[2020-07-30 09:21] SidOfc commented on #112
Hello @Mayrixon!

Thanks for the positive message and feedback! One interesting thing I'm seeing is that both these mapping scripts live in the `/plugin` folder whereas mkdx mapping script lives in `/ftplugin` e.g. it only binds mappings after opening a markdown file, and the mappings only exist within markdown buffers.

I don't see any specific code in vim-which-key to enable/register filetype pl

[2020-07-30 12:34] Mayrixon commented on #112
Thanks for the quick reply!

There is no specific command in vim-which-key to enable filetype plugin mappings, but we can do this kind of work with `autocmd FileType`. I can demonstrate this later.

I didn't notice the mapping script locations. Luckily, I found [vimtex](https://github.com/lervag/vimtex) is using scripts in folder `/autoload` and `/ftplugin` mapping shortcuts. I think it would be m

[2020-07-30 14:08] SidOfc commented on #112
I see, it doesn't seem too different from mkdx actually. The actual "mapping" is created via a function instead of directly inside a `for` loop which is what mkdx does. Still, vim-which-key is able to pick these up so it should be able to pick up mkdx as well I think.

I'll try adding this plugin to my vimrc to see if I can make it work, though I'm not sure whether it'd be done this week, I'll kee

[2020-07-30 20:40] SidOfc commented on #112
@Mayrixon I think my previous commit fixes the issue. I used the `mapcheck` builtin to validate that a mapping hadn't already been mapped before creating the mapping via mkdx. The thing is that `mapcheck` acts like "starts with" so in this case, because `<leader>` was already mapped, it skipped the mappings.

I am now using `maparg` instead which requires an exact mapping to the same combination t

[2020-07-30 21:20] Mayrixon commented on #112
I have tested with my settings and everything works perfectly. Thanks for your help!

[2020-07-30 21:20] #112 closed

[2020-07-30 21:55] SidOfc commented on #112
No problem, cheers for the quick test and enjoy :)

[2020-08-19 15:05] lyndhurst opened #114 "Cannot disable folding to avoid conflicts"
# Github issue

**OS type**: Unix - Neon 5.19 (focal based)

**Vim**: version 8.1.2269

**Reproduce steps**:

1. Plugin settings in `.vimrc` are the default 'getting started' settings from the README, with any of the following variations:
    1. `'fold': { 'enable': 1 , 'components': ['toc']}`
    2. `'fold': { 'enable': 1 }`
    3. `'fold': { 'enable': 0 }`
    4. No `'fold'` setting at all
2. Se

[2020-08-19 15:24] lyndhurst commented on #114
After trying out some of the features, I find many features being kind of unstable.

I installed with `vim-plug` the same way as described in the instructions, but I noticed that mkdx gets reinstalled every single time I run `PlugInstall` and often removed when I run `PlugClean` without any change on my config.

Maybe the problems are related...

[2020-08-19 19:28] SidOfc commented on #114
Hi @lyndhurst, thank you for reporting the issue in such detail, I will look into it as soon as I can, would you mind sharing your vimrc file with me via gist or a repo link?

As for the `vim-plug` issue, unfortunately I can't reproduce it, for me running `:PlugInstall` does not reinstall mkdx if it's already there, likewise `:PlugClean` does not remove it. I'm not sure how long it was since you l

[2020-08-20 09:09] lyndhurst commented on #114
Hi,
I tried again this morning after reading your request for my [vimrc file](https://gist.github.com/lyndhurst/20d2ccbd16a0c714f9f7dc33796b7fa0). So I cheated a little, and cleaned up said file before trying to reproduce the errors, here is what I can and cannot reproduce with that config:

- I do not get this annoying error message about some fold pattern not found,
- mkdx does not seem to inter

[2020-08-20 10:53] SidOfc commented on #114
Hey @lyndhurst cheers for checking this out! I'll try to reproduce this re-install issue with the gist later tonight and see if I can figure it out, no rush about testing with a clean config, do it when you're comfortable and have some time I'd say :+1:

I'll leave this issue open until I've at least looked into this re-install issue and will report back when I know more.
Cheers for the feedback s

[2020-08-23 17:36] kraxli opened #115 "checkbox toggling on multiple (visually selected) lines"
Hi
thanks for the this plugin. I am looking forward to replace vimwiki with.

A suggestion. Would it be possible to toggle multiple list items base on a selection (v or x mode)?

OS: **Linux Mint 20 Ulyana**
Vim: **NVIM v0.4.4**

**Example**:

Settings: `let g:mkdx#settings = { 'checkbox': { 'toggles': [' ', '-', 'x'] } }`

1. Open a markdown file.
2. make a list:
[code]
3. select multiple item
4.

[2020-08-23 17:47] kraxli opened #116 "fails to open external links"
Hi

I cannot open an external link with `gx` (mapped to `<Plug>(mkdx-gx)`) or `gf` in e.g. Firefox, Libreoffice, ...

OS: **Linux Mint 20 Ulyana**
Vim: **NVIM v0.4.4**
Default browser: Mozilla Firefox 79.0

My mkdx-settings
[code]

**Example**

1. create a link in a markdown file: `[link to google](https://www.google.com/)`
2. move on it
3. select normal mode
4. press  `gx`

**Expected**
Google pa

[2020-08-23 18:46] SidOfc commented on #115
Hello @kraxli,

This should already be possible in visual mode ([documentation link](https://github.com/SidOfc/mkdx#completing-checkboxes--checklists)). Is it not working when you go into visual mode and then use the same mapping you use in normal mode? Note that when doing this in a deeply nested list parent items may not always move to the next state due to unfinished child list items.

[2020-08-23 18:54] SidOfc commented on #116
Hi Dave,

Behind the scenes mkdx uses the `open` command which opens files and urls using your default applications. For this feature to work, you must be able to run the `open` command from the terminal. On Linux, I believe the package you'd need is called `xdg-open`.

Do you have `open` (test using: `which xdg-open`) installed? If not can you install it and try again?

[2020-08-24 08:34] lyndhurst commented on #114
Sorry, I was away for the weekend.

I can confirm that I am not getting any error from the `let g:markdown_folding = 1`, and it works fine.

Unfortunately, I still get no concealing and this re-install problem is still there. I tested with an even cleaner config and removed all custom theming to be sure. As you noticed, I had a very 'hacky' highlighting fix for a `vim-notes` plugin I was trying ou

[2020-08-24 09:10] SidOfc commented on #114
No problem, hope you enjoyed it :)

Good to know the `let g:markdown_folding = 1` is fixed, that was actually a syntax error on my part. I might try installing KDE Neon in VirtualBox for myself to check if there are any issues, cheers for pointing out the distro :+1:

I've got one quite "out there" idea which we haven't explored yet, but are the permissions on and inside the `~/.vim/plugged` folde

[2020-08-24 09:52] lyndhurst commented on #114
Ok, so I tried again to check your permissions idea, and I have no idea what changed between now, and a couple of hours ago, but, everything is working fine now; concealing, folding, and I have no problem with `PlugInstall` neither.

I did not change anything to the config file, maybe some residual files, or config from another plugin when I was switching from one config to another. I was usually

[2020-08-24 10:03] SidOfc commented on #114
Sounds good, once again thanks for checking it out with me, much appreciated :+1:

If issues start popping up again feel free to reopen this (if related) or open a new issue, cheers!

[2020-08-24 10:03] #114 closed

[2020-08-24 23:11] kraxli commented on #115
thanks @SidOfc

my bad. I had it mapped to normal only. Sorry for this. It works perfectly.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Sunday, August 23, 2020 8:47 PM, Sidney Liebrand <notifications@github.com> wrote:

[2020-08-24 23:28] #115 closed

[2020-08-25 00:18] kraxli commented on #116
many thanks for coming back on this and for the clarification in README!

on linux / ubuntu I need to call `xdg-open https://github.com`. I've tried to set `alias open='xdg-open'` in my `.bashrc` and `open https://github.com` works perfectly in the terminal but without success on a markdown file neither with the mapping
[code]
nor
[code]

What works for me is
[code]
or using the `Open` comand from

[2020-08-25 00:27] SidOfc commented on #115
No problem, let me know if you find more issues :+1:

[2020-08-25 00:47] SidOfc commented on #116
Hey @kraxli, hmmn that is quite odd, perhaps it has to do with the way `system` works but I'm not sure yet.
I pushed a commit which uses your method of `silent! exec` and also checks if `xdg-open` can be executed instead of just `open`.

Can you give this a shot?

[2020-08-25 06:54] samarulmeu opened #117 "Conflict with Ultisnips plugin"
Hello!

Here I am with another bug report. When I try to use the VISUAL select option of Ultisnips (selecting a word and then pressing `tab` to have it inserted in a snippet) I get only a line indent, the word remaining unchanged. If I disable *mkdx* everything works as expected.

Thank you for your time!

[2020-08-25 09:15] SidOfc commented on #117
Hey @samarulmeu!

Recently I added a feature which renumbers list items when pressing <kbd>tab</kbd> and <kbd>shift</kbd>+<kbd>tab</kbd>, this is likely what interferes. While I'm looking into the issue you can disable it by setting [g:mkdx#settings.tab.enable](https://github.com/SidOfc/mkdx#gmkdxsettingstabenable) to `0`:

[code]

I'll check it out as soon as I can, cheers for the feedback :+1:

[2020-08-25 13:01] samarulmeu commented on #117
Thank you for the suggestion! After disabling the `tab` the snippets are working again.

[2020-08-27 20:07] SidOfc commented on #117
Hey @samarulmeu!

Just reporting back after doing some research, I am able to reproduce the issue and am looking into a solution using an `<expr>`  mapping. My idea here is to detect if we're in a numbered markdown list and if so, execute mkdx's handler, otherwise use whatever was mapped before. I'm not sure if I can actually make this work yet though.

In any case though if I can't, I do think I'

[2020-08-29 10:35] kraxli commented on #116
Hi @SidOfc

many thanks for coming back and the update! I pulled the newest `master` branch and it works better :-)

Below a few checks on opening stuff with gx and gf

[code]

[2020-08-29 20:27] SidOfc commented on #116
Ah nice, glad to hear it's mostly working now.

I'll look into the other scenario's as well, cheers for providing examples :+1:

[2020-08-29 22:34] samarulmeu commented on #117
Hey @SidOfc !

Sorry for the delayed reply. If it is too much trouble, I think you can let it on by default. But also will it be possible to just use the standard vim [bindings](https://vim.fandom.com/wiki/Shifting_blocks_visually) for indenting? Just a thought...

Cheers!

[2020-08-30 12:07] SidOfc commented on #117
You mean instead of using the tab key, you'd like to use `>>` and `<<` commands instead?
If that is the case I think the [remapping functionality](https://github.com/SidOfc/mkdx#remapping-functionality) section may be of help.

Since you probably have the feature disabled, all it really does is prevent them from being mapped so you could use this:

[code]

If more folks come in with complaints abo

[2020-08-30 12:20] SidOfc commented on #116
Hi again @kraxli, I've fixed the issue with the links not working, the reason it didn't work was because they had a subdomain and my regex didn't take that into account.

I still have to find a way to make "doc" links open in libreoffice though, I'm going to look into that next. In the meantime you can update mkdx so that at least the links will work :)

Will report back when I've found a fix for

[2020-08-30 12:20] samarulmeu commented on #117
Thank you for the work around. For me was enough to just disable the indent as you’ve mentioned in a previous comment. Ultsnips is more important to me than list indenting (never miss it), but maybe is just my case.

Thank you for your time and help!

[2020-08-30 13:04] SidOfc commented on #117
No problem, and yeah list renumbering on indent is a bit subjective, it depends on how users use markdown files e.g. to keep track of progress or other generic list scenarios. In those cases it is definitely nice to renumber list items with tab/s-tab.

For now I'll close this issue then, as always thanks for the feedback!

[2020-08-30 13:04] #117 closed

[2020-08-30 13:14] SidOfc commented on #116
Alright @kraxli other "non plain" files should now also open in an external application. Note that the `file` command is required for this to work. I've [updated the documentation](https://github.com/SidOfc/mkdx#gmkdxsettingsgf_on_steroids) to reflect this.

Let me know if everything is working for you :crossed_fingers:

[2020-08-30 19:12] kraxli commented on #116
nice - thanks a lot! works pretty nice :-)

the only thing which isn't working for me is

[code]
but the web-address may be a bit complicated and hard to parse. For such cases would it be possible to allow for `vmap` with `gx`? Such that one could mark / select the whole address and open it? This would simplify the detection / parsing of the address

[2020-08-30 19:50] kraxli opened #118 "suggestoin for list item / check box toggling"
@SidOfc, you provide a wide variety for toggling list and check-list items.

Would it be possible to have the following sequence for toggling list / check-list items in combination (one key map for next and one for previous):
[code]
So in words: `simple text`  <-> `list itme`  <-> `check-list item (to do)`  <->  `check-list item (in progress)`  <-> `check-list item (done)`  <-> `simple text`
?

My

[2020-08-30 20:30] SidOfc opened #119 "Add visual mode support for mkdx#gf"
This feature request originates from #116, it would allow `mkdx#gf` to also function in visual mode.

Adding support for this has the following benefits:

- non-link texts that refer to files / URL's can be selected visually and acted upon.
- when the normal mode mapping fails, a visual selection can be made instead as a fallback.

This would only be enabled when `g:mkdx#settings.gf_on_steroids` i

[2020-08-30 20:33] SidOfc commented on #116
Alright, that issue should now also be fixed, this happened because I used this method:

[code]

But if the `destination` includes hashtags, they get resolved to the current working directory. The fix was simple, to just prefix any `#` with a `\` so that vim would treat them like regular characters:

[code]

About adding a visual mode mapping, it can be done of course but it would not actually sim

[2020-08-30 21:46] SidOfc commented on #118
I think adding this would not really add much value since this can already be achieved in the following way:

- <kbd>leader</kbd><kbd>lt</kbd>
- <kbd>leader</kbd><kbd>=</kbd> x2 or <kbd>leader</kbd><kbd>-</kbd> to go from `[ ]` to `[x]`

So instead of 1 mapping, there's two, the difference is both focus on doing one thing, which is for `ll` / `lt` to toggle an item to/from a list / task list item

[2020-08-30 22:35] pwntester opened #120 "List Enter feature not working when using vim-pear"
Hi,

Thanks for the great plugin! Im having an incompatibility problem though. It seems like the List Enter feature does not work when using [vim-pear](https://github.com/tmsvg/pear-tree) which is a popular tree for managing token pairing. Wondering if this is something that could be fixed or is an incompatibility between both plugins.

Thanks!

**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other (

[2020-08-31 09:08] SidOfc commented on #120
Hiya @pwntester!

Cheers for the feedback, indeed this is a plugin conflict, a similar issue was posted before where the author ended up using [this snippet](https://github.com/SidOfc/mkdx/issues/102#issuecomment-629003420):

[code]

This prevents pear-tree from remapping enter _only_ in markdown files and thus this allows mkdx's enter handler to work.
Since this is also the first time I'm getting

[2020-08-31 09:08] #120 closed

[2020-08-31 12:07] pwntester commented on #120
Worked great, thanks!

[2020-08-31 19:45] lyndhurst opened #121 "Feedback from constant reinstall issue"
Hi,
I am opening a new issue, because I cannot re-open the issue #114 , I guess it is too old.

I finally got time to spend almost a day tinkering with your plugin, and everything works fine. I had a few observations I wanted to share with you since you encouraged me to give some feedback if any. I am still on a KDE Neon 5.19 system using vim 8.1 by the way.

1. Regarding the constant *re-install*

[2020-08-31 20:19] SidOfc commented on #121
Hey @lyndhurst welcome back and thanks so much for opening a new issue!

I understand 1. better now, I've actually set up a command `vip` (Vim Install Plugin for short) which runs a `nvim +PlugInstall +qall` command from the terminal which exits vim afterwards, so I never stay inside vim, I'll give it a shot installing more than once while staying inside vim.

Also, I've found which mappings were

[2020-08-31 20:30] kraxli commented on #116
Thanks @SidOfc - now it is working like a charm :+1:
Thanks a lot for your great plugin!! I am closing this issue.

[2020-08-31 20:30] #116 closed

[2020-08-31 20:32] kraxli commented on #118
sure @SidOfc, your view also makes sens! Thanks

[2020-08-31 20:32] #118 closed

[2020-08-31 21:03] SidOfc commented on #121
Oke so after some quick trial I was still unable to reproduce in either vim or nvim.
I checked by running `rm -rf ~/.vim/plugged/mkdx` so that the plugin would not be installed, then opening either `vim` or `nvim` and running `:PlugInstall` followed by two or more `:PlugInstall` and `:PlugUpdate` commands, for me, the result after initial install is always "Already installed" or "Already up to dat

[2020-08-31 21:04] SidOfc commented on #118
No problem, as always cheers for the feedback and don't be afraid to propose other ideas as well, I'm always open to look at it :+1:

[2020-08-31 21:06] SidOfc commented on #116
Cheers for the compliment @kraxli, always nice to hear :)

Let me know if you find more issues / have other ideas, thanks for closing and have a good remainder of the day :+1:

[2020-09-01 08:17] lyndhurst commented on #121
Thanks for all the info, and this mapping tip about the highlighting group under cursor, that is really going to be helpful.

It is true the markdown plugin I was using before had a special highlighting group, but seeing the 'toggle block quote' gif in the README, I was under the impression your theme was highlighting the content, I realize now it must be the visual selection highlight... Like the

[2020-09-03 04:20] Delayless opened #122 "`gf` bug"
[code]
I press gf on "google" and nvim will open Youtube. Unless I insert a blank line between the two links.

The same:
[code]
I press gf or gx on anywhere(picture, youtube, google), then always open the picture.

[2020-09-03 05:00] Delayless opened #123 "if reset the bold/italic/strike tokens, can't toggle it."
**OS type**:

- [x] Arch

**Vim**:

- [x] neovim

As the title, `let g:mkdx#settings = { 'tokens': { 'strike': '~~' } }`, then I can strike the word with '~~', but can't unstrike it. Bold/Italic as the same.

[2020-09-03 12:54] SidOfc commented on #122
Hello @Delayless, thanks for opening an issue!

I can indeed confirm this is a bug, it happens because I'm using the highlighting group to determine on which link you are, so multiple consecutive links are not distinguishable because they all have the same highlight group. I can't fix it right now but will look into it as soon as possible.

Until that time I don't think there is a "clean" fix, asi

[2020-09-03 12:55] SidOfc commented on #123
That also definitely looks like a bug, will look into it, cheers again for reporting :+1:

[2020-09-05 11:38] SidOfc commented on #123
Hello again @Delayless

I noticed an issue as well when customizing strike to `~~` but I could not reproduce the issue for bold and italic, these were my customizations:

[code]

At the moment the wrapping is based on syntax highlighting, the tokens I used are the "alternatives" to what mkdx has set as default, which are:

[code]

Can you share what other tokens you used for bold and italic? Until

[2020-09-05 11:54] #122 closed

[2020-09-05 11:56] SidOfc commented on #122
Hi @Delayless,

I've fixed the issue by limiting gx/gf to the line the cursor is on, let me know if this issue still occurs on your side after you've updated mkdx.

Cheers for the find :+1:

[2020-09-05 12:02] Delayless commented on #123
**init.minimal.vim**
[code]
Use minimal vimrc to open test.md  `nvim -u init.mininal.vim test.md`
This BUG can still be reproduced. but I haven't updated today's update yet.

[2020-09-06 13:50] SidOfc commented on #123
Hello @Delayless,

After updating mkdx you should be able to toggle strike when using `~~`, but you haven't given me the tokens you use for bold / italic so I can't investigate what's wrong with those yet. I think I'm also seeing the issue you're describing with auto_update, it seems to update the table of contents after re-sourcing the vimrc, will check that out :+1:

[2020-09-06 14:10] SidOfc commented on #123
So I just pushed a commit which does not update the TOC style if it stays the same although I'm not sure if that is the real issue. If I patched something unrelated, could you be more specific about what the issue is you're facing with auto update?

Cheers for the feedback so far too :)

[2020-09-06 14:32] Delayless commented on #123
Awesome. Thank you! Now it is normal after adding the option  `\ 'tokens': { 'strike': '', 'bold': '**', 'italic': '*' }`. I personally think it would be better if the plugin automatically used the default values when I didn't specify the parameters.

For another issue, when I press `shift+r`(be mapped to :source MYVIMRC<CR>), the mkdx will delete the previous two lines if my markdown file is just

[2020-09-06 16:40] SidOfc commented on #123
I see how that could happen indeed, I don't think I thought about markdown files which were just used as TODO lists when building the feature, will look into that soon too :+1:

About you thinking it would be better if the plugin automatically uses the default values, what do you mean exactly? You should not have to supply all the settings but rather, only the ones you want to override, mkdx shoul

[2020-09-07 00:03] Delayless commented on #123
I got it. I just need to add `\ ‘tokens’: { ‘strike’: ‘~~’}` instead of `\ 'tokens': { 'strike': '~~', 'bold': '**', 'italic': '*' } `. Thanks, Let’s hope mkdx becomes perfect😊.

[2020-09-07 13:30] SidOfc commented on #123
I did some more testing today and noticed that I don't see the lines being removed anymore, I think my last patch also addressed that but I'm not sure, do you still have the issue after having fully updated mkdx @Delayless?

[2020-09-07 13:45] Delayless commented on #123
I said before that mkdx had problems before you updated it. Now it’s normal, awesome. I re-described it in detail to help you locate the real problem maybe.

Actually, this commit has solved it. Now no other problems have been found. The mkdx is very nice. Thank you!

[2020-09-08 17:07] SidOfc commented on #123
Ahh glad to hear, always nice to get two for one :)

The real issue is not actually with auto update itself I've noticed, but seems to be related to it in the sense that updating for example `toc.text` or `toc.details` would also cause an update to `toc.details.enabled`. When this setting is changed, the TOC is removed and re-added in the new style (normal markdown vs html markup).

This is what c

[2020-09-08 17:07] #123 closed

[2020-09-09 07:30] victorkristof opened #125 "Error raised after sourcing vimrc: "Key not present in Dictionary: highlight.enable""
Hi @SidOfc,

I have this problem for quite some time now but finally decided to open an issue.

I remember I read somewhere someone had the same bug, but I can't find where... Sorry if it's a duplicate.

**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [x] vim
- [ ] neovim
- [ ] Other ([SPECIFY])

**Vim version**: 8.2.539

**Reproduce steps**:

Basically, when I source m

[2020-09-10 13:16] SidOfc commented on #125
Hi @victorkristof!

I can confirm this happens indeed, it happens when `g:mkdx#ettings` is defined in your vimrc but it does not have a `highlight` key, until I've fixed it, you can add this to your config:

[code]

This makes sure the setting exists and should not cause any errors, of course if you do want the highlighting set it to `1` instead of `0`. I'm going to look into it in the meantime :+

[2020-09-10 13:23] #125 closed

[2020-09-10 13:41] SidOfc commented on #125
Alright, I checked it out and noticed that `after/syntax/markdown/mkdx.vim` loads before the plugin initialization code located in `ftplugin/markdown/mkdx.vim`. To fix it I created `plugin/mkdx.vim` which loads on vim startup and moved setting initialization to that file. This ensures settings are merged / guarded before opening any markdown file.

Cheers for the find :+1:

[2020-09-10 13:42] victorkristof commented on #125
That was fast, well done!

[2020-09-11 11:52] #119 closed

[2020-09-11 11:54] SidOfc commented on #119
Feature has been added, both `gf` and `gx` may now be used in visual mode as well.
I decided to enable them by default instead of only when `g:mkdx#settings.gf_on_steroids` is enabled to keep consistent normal mode mappings function.

[2020-09-11 12:44] SidOfc commented on #121
Hello again @lyndhurst,

Just tested a KDE Neon 5.19.5 install in virtualbox, installed vim-plug and mkdx and unfortunately I still can't reproduce the issue you are describing. I'm not sure what exactly is wrong but it will be hard for me to figure out without being able to reproduce the issue :sweat_smile:

That being said this is still the first time I'm hearing about this and it seems odd that

[2020-09-11 12:44] #121 closed

[2020-09-15 07:06] samarulmeu opened #126 "Conceal and highlight issues"
Hello again!

After the last update I encountered two issues:

1. The link concealing is not working anymore (I have `conceallevel=2`)

2. I've seen that criticmarkup is supported now and although I have `'highlight': {'enable':1}` I get no highlighting when using the appropriate tags.

Thanks again for you time and work!

[2020-09-15 09:44] SidOfc commented on #126
Hi @samarulmeu!

Is this happening in regular vim or neovim, or some other GUI version of vim?

As always, cheers for reporting and will look into it!

[2020-09-15 09:49] samarulmeu commented on #126
Hi @SidOfc !

Sorry for omiting this. In my vim 8.1. No vimrc change in a while.

Thanks!

[2020-09-16 21:46] pwntester opened #127 "Syntax file in unexpected location"
Hi,

I have a custom syntax that embeds markdown blocks, so my syntax file looks something like:

[code]

However, these blocks are highlighted using the built-in markdown syntax rather than MKDX one, since MKDX has its syntax defined in `syntax/markdown/mkdx.vim`. Moving this file to `syntax/markdown.vim` fixes my problem.

Is there any reason why the syntax file is defined in `syntax/markdown/mk

[2020-09-17 14:37] SidOfc commented on #127
I'm not sure if this would cause any issues either actually, I'm not sure what my exact reasoning was when I first introduced the syntax file, perhaps just convention.

I'll check this out soon (also another issue that needs some attention so already had plans), If both vim and neovim function normally after the rename it shouldn't be a problem.

Cheers for the feedback :+1:

[2020-09-17 14:56] pwntester commented on #127
Thanks for considering it. Just to make it more clear, I could change the path of the include on my plugin, but I expect it to work with any markdown plugins. For example [plasticboy one](https://github.com/plasticboy/vim-markdown/blob/master/syntax/markdown.vim) places the syntax file in the expected location.

Thanks!

[2020-09-17 16:06] SidOfc commented on #127
@pwntester you can test it out by updating mkdx, I checked vim and neovim and everything seemed fine. The syntax file should now be in the proper location.

Let me know if it works!

[2020-09-17 16:22] SidOfc commented on #126
No problem @samarulmeu, I checked it out in both vim 8.1 and neovim 0.5 using some trivial examples:

[code]

Both editors with `conceallevel=2` set it conceal the text as expected. I tested it first by using `:set conceallevel=2` after opening a markdown file, and by setting it at the top of my vimrc, restarting vim and then opening a markdown file. Can you provide an example markdown snippet tha

[2020-09-17 18:23] pwntester commented on #127
worked thanks!

[2020-09-17 22:24] pwntester commented on #127
Oops, seems there is one more change needed in `autoload/mkdx.vim` line 266:

[code]

[2020-09-18 06:18] samarulmeu commented on #126
Hi @SidOfc.

So this was my test file:

[code]

Italic and bold are working as expected.

And this is my _vimrc_. I cleaned it (only **mkdx** plugin and my usual settingx), but it is the same behavior.

[code]

[2020-09-18 09:11] SidOfc commented on #127
Good catch! Fixed it and checked for other occurrences of `syntax/mkdx`, there are no other cases.

[2020-09-18 09:11] #127 closed

[2020-09-18 09:49] SidOfc commented on #126
Hmmn I tried it with the vimrc you provided but I'm still getting expected results on Vim 8.1 and Neovim 0.5:
![image](https://user-images.githubusercontent.com/3225058/93582685-1bd2b280-f9a3-11ea-9eb1-8807e22898dc.png)

The only difference I can imagine is the `set gfn` line since I don't have the Menlo font on my machine but I doubt that would cause the issue. Not sure how to continue here actua

[2020-09-18 10:13] samarulmeu commented on #126
So, something strange happened.

No change to my vimrc, I just did an update to the last version (you pushed some changes last night and today) and now the conceal is working again. Even the criticmarkup stuff.

I still have a suggestion: in substitution highlight can you eliminate the opening and closing tags? `{~~` and `~~}` and leavinge only something like `soh~>so`.

You can see in the picture

[2020-09-18 11:31] SidOfc opened #128 "Improve criticmarkup highlighting"
So, something strange happened.

No change to my vimrc, I just did an update to the last version (you pushed some changes last night and today) and now the conceal is working again. Even the criticmarkup stuff.

I still have a suggestion: in substitution highlight can you eliminate the opening and closing tags? `{~~` and `~~}` and leavinge only something like `soh~>so`.

You can see in the picture

[2020-09-18 11:35] SidOfc commented on #126
I see, very strange indeed but glad it sorted itself out, perhaps this was related to auto update in some way because I remember changing the location of the syntax file, but forgetting to update the auto update path to the syntax file, I fixed that this morning as well. Maybe that caused the weirdness.

As for this request, yeah I think I can make that work and I like the idea, I created #128 to

[2020-09-18 11:35] #126 closed

[2020-09-18 17:44] SidOfc commented on #128
@samarulmeu alright this one is done, turns out I forgot to rename some CriticMarkup syntax groups in specific places which prevented them from being concealed. I changed this from a feature request to a bug report as this was in fact a bug in the code, cheers!

Closing this now, feel free to let me know if anything is wrong with it :+1:

[2020-09-18 17:44] #128 closed

[2020-09-20 23:33] Delayless opened #129 "breaked into multiple lines after concealing title"
![image](https://user-images.githubusercontent.com/42591058/93724626-5e7ecf80-fbdb-11ea-81f8-7f2e9a408433.png)
Maybe it could be optimized about displaying after concealing link.
Thank you!

[2020-09-21 07:32] samarulmeu commented on #128
Nice work. It looks great!

[2020-09-21 14:24] SidOfc commented on #129
Hi @Delayless, this unfortunately is not something I can fix. It seems to be a combination of `set wrap` and `set conceallevel=2`, these are Vim builtins I do not control. Perhaps an idea would be to open an issue on Vim / Neovim for this?

I'll be closing this issue as well, cheers for the feedback!

[2020-09-21 14:24] #129 closed

[2020-09-25 11:17] Cyperwu opened #130 "mkdx TOC does not support utf8 title"
**OS type**:

- [x ] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x ] neovim
- [ ] Other ([SPECIFY])

**Vim version**:

NVIM v0.5.0-nightly

**Reproduce steps**:

1. Open a markdown file.
2. Paste the following example into the file:
[code]
3. Then, attempt to generate TOC

**Expected**:

[code]

**Actual**:

outputs:
[code]

[2020-09-25 11:26] SidOfc commented on #130
Yep that looks like a bug indeed, will check it out somewhere this week.

Cheers for the report :+1:

[2020-09-25 11:32] Cyperwu commented on #130
Thanks! And there is another bug that
[code]
generates
[code]
The period was missing. Should I open a new issue or leave it here?

[2020-09-25 15:20] SidOfc commented on #130
@Cyperwu so it actually generated `[1 test](#1-test)` instead of `[1. test](#1-test)`?

[2020-09-25 16:05] SidOfc commented on #130
Oke so the issue with chinese characters should now be fixed (https://stackoverflow.com/questions/41318003/how-to-match-chinese-characters-with-grep) by including the unicode range of chinese.

About this other bug, I checked to see what gets generated when using `# 1. some heading` and I can't find any errors in the link text or actual link, it ends up like this: `[1. some heading](#1-some-headin

[2020-09-27 02:42] Cyperwu commented on #130
Sorry, I checked my code and found that it was related to my markdown preview tool. So that the related bug was actually not exist. Thanks!

[2020-09-27 21:02] SidOfc commented on #130
I can't reproduce this on either neovim (0.5.0) or regular vim (8.1), even after `set re=1` it works, I did however find some useful information when going to `:h E945` which shows me how to "fix" it. I've pushed the commit to master so you can try it out by updating.

I also patched another bug in there with YAML frontmatter showing up in generated table of contents because in markdown `---` is u

[2020-09-28 06:26] Cyperwu commented on #130
It still raises `E945`, but the TOC is generated.

I found some [code](https://github.com/mzlogin/vim-markdown-toc/blob/2e86c7229dfee5b7062194ec3d08a79a6b07de02/ftplugin/markdown.vim#L159) on [vim-markdown-toc](https://github.com/mzlogin/vim-markdown-toc). They support Chinese, Korean specifically but I think that's not the common use case for markdown writing.

[2020-09-28 08:44] SidOfc commented on #130
Hmmn very strange, also not very easy to fix for me as I don't get this error at all :(

What I think I'll try to do is split this one big range up into multiple smaller ones that are no more than 256 chars apart since that is the limit of the old regex engine. Unfortunately though I'll also have to ask for your feedback on it once I've committed some change since I can't reproduce it myself :swea

[2020-09-28 15:55] SidOfc commented on #130
alright @Cyperwu can you update again and give it another shot?

The ranges are now split and should all be < 256 characters apart as per Vim limit. The only thing I can imagine that would cause it to fail is because they are all still in the same character class, but not as one giant range but quite a few small ranges.

Cheers for your patience and feedback so far, looking forward to more info :+

[2020-09-29 07:54] Cyperwu commented on #130
Cheers, your patch works!

[2020-09-29 08:34] SidOfc commented on #130
Good stuff, will close this, thanks for reporting!

[2020-09-29 08:34] #130 closed

[2020-10-10 10:35] vicmortelmans opened #131 "Using vim 8 built-in package manager - E121 Undefined variable: g:mkdx#settings, custom prefix not working, no helptags generated."
Hi,
I'm using vim 8.0.1453 on ubuntu 18.04.
This is the **first time that I install a vim plugin**. Since I read that **vim 8 has it's own plugin manager built-in**, I decided to use that. I cloned mkdx in my `~/.vim/pack/foo/start` and I added` let g:mkdx#settings.map.prefix = ','` to my `~/.vimrc`.
This is what I get when starting vim:
[code]
I have seen this other issue with a similar error ([h

[2020-10-11 03:11] SidOfc commented on #131
Hi @vicmortelmans!

Nice to see you're trying out plugins, mkdx has quite a lot of documentation but it seems like you tried to use:

[code]

directly in the vimrc, in the [settings section of the documentation](https://github.com/SidOfc/mkdx#gmkdxsettings) it states that this is not possible (as a matter of fact, it is not possible due to exactly this error).

You should be able to specify the se

[2020-10-11 10:36] vicmortelmans commented on #131
Hi,
I can now set the prefix in my `.vimrc` without errors being displayed, but there still seems to be something wrong with my setup.
1/ help is not working: `:h mkdx-settings` gives `E149: Sorry, no help for mkdx-settings`
2/ the prefix doesn't seem to be working. When I press ',' in normal mode, the screen blinks, but it doesn't seem to be taking any further commands. Yet the prefix is mapped,

[2020-10-11 13:27] SidOfc commented on #131
Hi @vicmortelmans, hmmn I don't know too much about vim's native package manager as I'm using vim-plug myself. That being said though if you can share a link to your vimrc file I'd be happy to check out if I can get it to work using your configuration, and make any necessary changes to make mkdx compatible with Vim's built-in package manager otherwise.

Reason I'm thinking mkdx is not compatible i

[2020-10-11 18:42] vicmortelmans commented on #131
Hi,
here's my .vimrc:

[code]
In `:h packages` I didn't find anything related to the help files, but [here](https://stackoverflow.com/a/57738713/591336) I found out that running `:helptags ALL` once, fixes the issue with the helptags. It looks like I only have to this once, it's not needed in my `.vimrc`.

Remains only the issue with the custom prefix not working...

Thans for following up!
Vic

[2020-10-11 23:23] SidOfc commented on #131
Good stuff @vicmortelmans, glad you were able to solve the helptags issue as well, will probably add a section to the README about installing with vim's built-in package manager after I've looked into and fixed the issue you're experiencing.

Cheers for sharing your vimrc, will give it a quick look ASAP, but going to bed now! :D

[2020-10-12 19:55] SidOfc commented on #131
Hmmn alright, I've looked into it a bit, managed to get mkdx "installed" but I see that `mkdx/ftplugin/markdown/mkdx.vim` (which defines the mappings) just doesn't get loaded at all. The only thing I can find about it are runtime path hacks which I can't use because this file should be loaded only in markdown files and not at startup.

I went a bit further and pushed a commit which moves `mkdx/ftp

[2020-10-13 10:49] vicmortelmans commented on #131
Hi,
I've decided to adopt vim-plug and that did the job! (just tested this on vim in cygwin)
Thanks for the support!
Vic

[2020-10-13 10:49] #131 closed

[2020-10-13 15:15] SidOfc commented on #131
Sounds good :+1:

I'll keep a lookout for more installation issues using regular Vim's native package manager, maybe in the future it can be fixed or will be patched by Vim itself.

Thanks for the feedback and enjoy :+1:

[2020-11-02 20:21] kraxli opened #132 "new list item with <enter>"
When I am at the end of the line of a list item and I press `enter` the new list item is created on the same line. For example:

[code]
results in

[code]
instead of

[code]
In case there is an empty space at the end of the line it works as expected.

Is this intentional?

My environment:
OS: Linux Mint 20 Ulyana
Vim: NVIM v0.4.4

Thanks
David

[2020-11-03 21:50] SidOfc commented on #132
Hi @kraxli,

This is definitely not intended behavior, did you also test mkdx in isolation? If not, could you try it without any other plugins enabled or otherwise if you did, share your vimrc so that I can reproduce?

Cheers for the feedback :+1:

[2020-11-08 12:30] SidOfc commented on #132
Hello again @kraxli, just wanted to ask, are you still facing the issue?
I'll close this issue in two days if left without a reply.

[2020-11-10 23:13] SidOfc commented on #132
Alright, closing this one for now. Feel free to comment here if anyone reading this is facing this issue!

[2020-11-10 23:13] #132 closed

[2020-11-16 08:20] Cyperwu opened #133 "Mkdx treated vimrc file as markdown"
**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:

NVIM v0.5.0-nightly
Build type: Release
LuaJIT 2.0.5

minimal vimrc using `vim-plug`:
[code]

**Reproduce steps**:

1. source the vimrc with `source %`
2. `:map o`
3. result is n  o            @<Plug>(mkdx-o)

[2020-11-16 09:57] SidOfc commented on #133
Interesting indeed, I will look into it @Cyperwu, cheers for the report :+1:

[2020-11-16 19:08] SidOfc commented on #133
I looked into it a bit and found out it was related to auto-update being executed outside of markdown context. auto-update is triggered because of the `let g:mkdx#settings = {...}` statement in your .vimrc file which, when re-sourced actually applies a deep-merge of new settings over old ones. This in turn executes code to update [markdown] buffers directly for specific settings such as enabling /

[2020-11-17 09:24] samarulmeu opened #134 "No refresh after accesing a link"
Hello!

Here I am with another issue :)

**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [x] vim
- [ ] neovim
- [ ] Other ([SPECIFY])

**Vim version**:

8.1

After I access a link using `gx` the vim *screen* remains dark. And only after I move the cursor around some of the lines are visible again. Or I have to do a `Ctrl-L` for a refresh. It is a mkdx issue as, if I dis

[2020-11-17 09:48] SidOfc commented on #134
Hey @samarulmeu, cheers for reporting!

I applied a fix for it as well, can you update mkdx and check it out?

[2020-11-17 10:34] samarulmeu commented on #134
Wow! That was fast. It is perfect. Thank you!

And closing...

[2020-11-17 10:34] #134 closed

[2020-11-18 06:01] Cyperwu commented on #133
Fixed, thank you for your effort! Closing...

[2020-11-18 06:01] #133 closed

[2020-12-03 08:52] kiil opened #135 "mkdx#WrapText wraps incorrectly after a special / accented character is used in a line."
**OS type**:

- [ ] Unix
- [ ] Windows
- [x ] Other ([MacOs])

**Vim**:

- [x ] vim
- [ ] neovim
- [ ] Other ([SPECIFY])

**Vim version**:

For vim: `vim -v`
version 8.2.2050

**Reproduce steps**:

Example:

1. Open a markdown file.
2. Paste the following example into the file:

There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,

[2020-12-03 10:07] kiil commented on #135
Now tested in neovim with clean init.vim - except for this plugin - and same problem.

Also tested in vim with clean .vimrc. This seems to be a real bug when linebreak is turned on.

[2020-12-03 10:33] kiil commented on #135
Not only does the commands often seems to target wrong words when using them on short words towards the end of longer "broken" lines - when linebreak is set the cursor will also jump around quite unpredictably when using the toggle commands on words in longer lines towards the end.

[2020-12-04 01:25] SidOfc commented on #135
Hello!

Hmmn, never actually tested `:set linebreak` so that's a new one for me, will have to figure out what exactly it does or perhaps disable `linebreak` before executing an action and then set it back to its original value after execution :thinking:

Thanks for supplying a screenshot and additional comments, I will look into it (hopefully tomorrow) :+1:

[2020-12-04 08:18] kiil commented on #135
That's actually quite clever :)

[2020-12-04 19:43] SidOfc commented on #135
Hi again @kiil,

If I `:set lbr` and `:set wrap` it seems the correct word/character under the cursor is still marked, I do however notice the cursor jumping one character "forward" when unwrapping but it doesn't describe the issue you're showing in the gif.

You said that you had a clean vimrc file, would you mind dumping the contents in a code snippet here or share a link to a gist so I can try

[2020-12-08 09:54] kiil commented on #135
For example with this vimrc:

`set lbr

let mapleader = "<"

call plug#begin('~/.vim/plugged')
Plug 'SidOfc/mkdx'
call plug#end()`

 Moving the cursor over 'i' in

and pressing <Leader> + b

Will result in

Instead of

So in fact it seems the line does not even need to be very long for the problem to appear on short words.

[2020-12-08 11:00] kiil commented on #135
PS. I've tried with other mapleaders as well. Same result.

[2020-12-08 17:29] SidOfc commented on #135
I see, actually this has nothing to do with the `linebreak` setting. It breaks in the same way when it is disabled. I already thought it was a bit weird since the description of `linebreak` also states it is "visual" but I just assumed the issue was related to that, I should have asked for a test w/o linebreak on to exclude it right away :sweat_smile:

Another notable observation is that it doesn'

[2020-12-08 18:45] SidOfc commented on #135
@kiil I've pushed a commit to master which seems to fix the issue for strings containing accented / special characters.

Can you confirm?

[2020-12-10 17:08] kiil commented on #135
Strange. I also had problems with som Ipsum Lorem text that did not contain any "foreign" characters.

Yes! I'll be happy to test "master" - I'll try to find out how to get master with the plug manager :)

[2020-12-10 17:21] kiil commented on #135
Yes. It fixes it!

Thanks a lot! And sorry for misleading you with the linebreak stuff. Don't know why that seemed to make a difference under certain circumstances.

[2020-12-10 17:23] kiil commented on #135
(There is now a very minor issue where it will do `\*i.\*` on a line ending in 'i.' - but correctly do `\*nu\*.` for a line ending in 'nu.')

[2020-12-10 18:41] SidOfc commented on #135
Hey @kiil, no problem, it was not intentionally misleading (I've put folks on the wrong trail before, no worries) :)

Vim Plug uses `master` by default so you can always just `:PlugUpdate` from within vim to pull latest changes too.

I'll look into the issue with wrapping at the end with single char words as well, might not be today but will be sooner rather than later.

Thanks for the feedback so

[2020-12-10 20:34] SidOfc commented on #135
Alright, single character wrapping should now also work with most punctuation, as a matter of fact if you had `i.` in the middle of a line it would also fail because the checks only checked for spaces before and after the character under the cursor. Now it checks for spaces, tabs, newlines, and some common punctuation: `.` / `,` / `'` / `"` / `;` / `:` / `!` / `?`

[2020-12-11 06:52] kiil commented on #135
I can confirm this works also now. Thanks a lot.

So far no other problems.

:)

[2020-12-11 06:52] #135 closed

[2020-12-11 13:12] SidOfc commented on #135
Awesome, do keep me posted though! I've probably missed some other edge cases as well.

:+1:

[2021-01-12 23:01] ekickx opened #136 "Fold for header"
Currently fold work for toc and fenced code block. Will you consider adding feature to fold header like what vim markdown [does](https://github.com/plasticboy/vim-markdown#folding)?

[2021-01-13 14:37] SidOfc commented on #136
Hi @ekickx!

Cheers for the feature request, I've actually dabbled with it in the past but it became quite complex and didn't always work properly so I gave up on it at the time as I'm not a big fan of folds myself (though I can see why others find them useful).

I might take another look to see if it can be done, however I can't say for sure that it will be added or when at the moment. In the mea

[2021-01-13 16:41] ekickx commented on #136
Oh cool. Thanks for the response.

[2021-01-13 18:38] SidOfc commented on #136
No problem, I'll keep you posted in this issue as well :+1:

[2021-01-20 00:17] douglance opened #137 "Issue with highlighting list items"
I am using `mkdx` with the `joshdick/onedark.vim` theme. And it is showing this strange highlighting behavior:
<img width="464" alt="Screen Shot 2021-01-19 at 7 11 37 PM" src="https://user-images.githubusercontent.com/4741454/105109240-2c4a8500-5a8a-11eb-994d-ba91080e7c14.png">

If I disable `mkdx`, it goes away. It affects all list modes.

**OS type**:

- [X] Unix (macOS)

**Vim**:

- [x] vim v8.

[2021-01-20 19:04] SidOfc commented on #137
Hi @douglance!

Cheers for reporting the issue, I'll have a look!

[2021-01-20 19:29] SidOfc commented on #137
Hmmn I can't seem to reproduce this using only mkdx and joshdick/onedark, I used the following minimal vimrc (using vim-plug but should be roughly the same for most vim plugin managers):

[code]
This is the result I got:
![image](https://user-images.githubusercontent.com/3225058/105224889-14dccc00-5b5e-11eb-92aa-6d87e4856a31.png)

Could you try this vimrc and see if you still get the weird highlig

[2021-01-20 19:33] SidOfc commented on #137
Hmmn I actually failed to add the example mkdx settings you used in that initial screenshot, I added them which resulted in this:

![image](https://user-images.githubusercontent.com/3225058/105225280-a4827a80-5b5e-11eb-8136-f914c9070493.png)

Are there any other customizations with regard to the terminal background in your vimrc / other shell config files by any chance?

[2021-01-20 20:04] douglance commented on #137
I isolated the culprit:

`let g:onedark_terminal_italics = 1`

No idea why. Perhaps something to do with italics styling? I am not sure. But I will leave that off for now.

Sorry for blaming your wonderful plugin. The behavior changed when `mkdx` was disabled so I made a bad assumption.

[2021-01-21 02:22] SidOfc commented on #137
No worries, always gets tricky with config and we're all human! As a general guideline I always try to isolate the conflicting plugins :)

Glad the issue is resolved and yeah, let me know if you find any other issues :+1:

[2021-01-21 02:22] #137 closed

[2021-02-18 15:16] matthewmoto commented on #136
I actually had the same request getting set up with this plugin yesterday (which I love, btw).

Turns out the newer versions of vim support this out of the box if you toss this in your .vimrc/init.vim
[code]

I'm using it with NeoVim 0.4.3 and mkdx without issue.

[2021-03-03 10:05] AckslD opened #138 "URL not visible"
**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:

v0.5.0-dev+1048-g69103ff0c

**Reproduce steps**:

Example:

1. Open a markdown file.
2. Paste the following example into the file:
    `[text](link)`

**Expected**:

I should see `[text](link)`

**Actual**:

I see `[text]      `
I.e the url itself is hidden/in

[2021-03-04 00:00] SidOfc commented on #138
Hmmn that's interesting indeed, when I try this, the link remains visible while my cursor is on the same line but I see that is not the case here. It looks like you have more plugins installed though, can you try this with only mkdx enabled and all other plugins disabled?

If the issue still occurs, could you provide a minimal vimrc file which I can try out on my machine?

[2021-03-04 13:41] AckslD commented on #138
Sorry, I just found that the issue was caused by [indentLine](https://github.com/Yggdroot/indentLine). Putting the following two lines solved it for me and allows me to use both plugins:
[code]

[2021-03-04 13:41] #138 closed

[2021-03-04 16:07] SidOfc commented on #138
No problem! thank you for checking and figuring out that the issue was related to the combination of mkdx + IndentLine :tada:

[2021-03-30 14:00] m-fonseca opened #139 "Question, combining jumps and goto file"
Hello,

Just came across this plugin and wanted to start customizing a little bit.  I want to map the standard ctrl-] (jump to definition) for doing jumps to other files and anchors in a document (trying not to learn even more key bindings).

Currently using
[code]

Is there an easy way to combine jumps and goto file logic in a single call so it will either jump to a local anchor or jump to a file

[2021-03-31 09:10] SidOfc commented on #139
Hello!

I think this can be achieved by checking what's under the cursor but depending on viml experience it can get quite ugly to code.
What you could start with is instead of `: callmkdx#JumpToHeader()`, create and call a wrapper function like `:call myJumpWrapper()`.

This function will then have to identify whether it is on a link and if so, whether it links to a header (starts with `#`) or is

[2021-03-31 14:45] totpet commented on #139
Hi!

I think an easier solution would be to simply try jumping to the header and checking if it happened, instead of trying to find out manually. Something like this:

[code]

[2021-03-31 20:07] m-fonseca commented on #139
Excellent.  Thank you guys!

[2021-03-31 20:07] #139 closed

[2021-03-31 20:18] m-fonseca opened #140 "jumping to underlined headers doesn't work"
**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:
NVIM v0.4.4

Using mkdx 602a784

**Reproduce steps**:

Use the following markdown file.
[code]

1. Jumping to each heading from the table of contents is possible except for `Head1`

**Expected**:

Jumps to Head1

**Actual**:

Doesn't jump to Head1

Thanks!

[2021-03-31 20:47] m-fonseca opened #141 "converting cvs with empty strings to table converts incorrectly"
**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:
NVIM v0.4.4

Using mkdx 602a784

**Reproduce steps**:

Use the following markdown file.
[code]

1. Convert the table to cvs and back.

**Expected**:

Table cells should remain the same.

**Actual**:

Table cells move around.

Thanks!

[2021-03-31 20:55] m-fonseca opened #142 "Question: How to generate a TOC one level below the current heading?"
When generating a TOC, it always generates at the same level of the current heading.  How do I generate it one level below the heading its under?

I.e. if my cursor is below a \# heading, I would like a \#\# to be generated.  Theres a lot of settings for the TOC but I didn't see one that addressed this?

Thank you!

[2021-04-01 09:55] SidOfc commented on #140
I see, yeah this should indeed work with setex style headings, will look into it, cheers :+1:

[2021-04-01 09:56] SidOfc commented on #141
Another nice find, will look into this as well :)

[2021-04-01 10:04] SidOfc commented on #142
@m-fonseca The TOC is always seen as a top-level heading because it covers the entire document. Therefore if you'd nest the TOC and create another top-level heading below it, it wouldn't make sense for the TOC to be nested in a "subsection"

That said though if your document structure only uses H1 for the title, and H2 or lower for the rest, it could make sense to have a `default_toc_level` settin

[2021-04-01 19:06] m-fonseca commented on #142
@SidOfc Yes, my documents usually have one H1, (the title).  If I have more then one, the markdown linter yells at me.  (I guess you can also have the title in the *front matter*, but I don't usually use those).

I think the `default_to_level` could be useful (certainly to me it would be!).

[2021-04-02 10:03] SidOfc commented on #142
I'll see what I can do here, it might be more difficult than I'm expecting since the code for generating TOCs is quite complex already and I didn't write it in a good way at all. Unfortunately this has become major undertaking to change to something easier to maintain, but I'll check it out nonetheless :+1:

[2021-04-05 21:11] m-fonseca commented on #142
Sounds good to me :+1:

[2021-04-05 21:56] m-fonseca opened #143 "using o and enter on code blocks deletes the line"
**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:
NVIM v0.4.4

Using mkdx 602a784

**Reproduce steps**:

Use the following markdown file.
[code]

1. Imediatly after `indented code block` press enter.

**Expected**:

The cursor goes to next line.

**Actual**:

The line is deleted :exploding_head: .  Note: the s

[2021-04-07 19:21] #143 closed

[2021-04-07 19:26] SidOfc commented on #143
Hello @m-fonseca, yeah this was another thing I overlooked, I naively thought most folks would just use fenced code blocks :sweat_smile:

Anyways, this would normally be quite tricky to properly detect since list items can also be at an indent level of 4 so I can't assume every line with indent of 4 will be an indented code block. To "guess" correctly I'm using a bit of help from syntax highlighti

[2021-04-07 19:29] SidOfc commented on #136
Since this issue has been inactive for quite a while I'm going to close it, thanks for the suggestion @matthewmoto!

[2021-04-07 19:29] #136 closed

[2021-04-07 19:34] #141 closed

[2021-04-07 19:36] SidOfc commented on #141
@m-fonseca this one should also be fixed, here I was using `:h filter` which actually modifies the list that's being filtered so All I needed to do is `:h copy` the list to make it work properly.

[2021-04-07 20:07] #140 closed

[2021-04-07 20:08] SidOfc commented on #140
And hello again @m-fonseca, setex style headers should now also work, feel free to reopen if you still experience issues.

[2021-04-08 02:17] m-fonseca commented on #143
Seems to be working now.  Thanks!

[2021-04-08 02:19] m-fonseca commented on #141
Verified working here.  Thanks!

[2021-04-08 02:32] m-fonseca commented on #140
Awesome.  Thanks for all your work on these.  I did encounter another problem that's related, but you might consider another bug.  (If you think so, I can open a separate issue).

If you use the same markdown file with **no** table of contents (don't just delete it and stick it back in, make sure its deleted, save it and exit, and then open it again), and then insert the table of contents, you can

[2021-04-08 12:02] SidOfc commented on #140
@m-fonseca yeah this is indeed a side effect which has to do with how mkdx find these headers.

Viml isn't the fastest language out there so to compensate, mkdx uses `grep` in a background job to speed things up.
Because of this, the buffer needs to be written to disk because grep doesn't work on the in-memory file.

The reason it does work for setex style headers is because this is a lot trickier

[2021-04-08 14:05] m-fonseca commented on #143
I'm sorry to be a pain!  Almost there :)  I Noticed this was working most of the time, until I had a document that had an escaped `\*` in it.  (also I'm not totally sure if `\*` is the right way to escape since I've seen different utilities render it differently.)

Heres a concrete example:

[code]
This will cause 'o' to delete the line again.

[2021-04-08 14:18] m-fonseca commented on #143
I found one other case where the `o` deletes the line, but I have to admit, it might not be valid markdown.  Still it would preferable if it didn't delete lines :wink: .

[code]
do `o` on testing

[2021-04-08 18:19] SidOfc commented on #143
@m-fonseca this one is also fixed now. It is not exactly invalid markdown but the `*test` is seen as an unclosed `markdownItalic` tag.

[2021-04-08 21:38] m-fonseca commented on #143
Verified.  Thanks for the fix!

[2021-04-08 22:06] m-fonseca opened #144 "All text during a link creation is concealled"
One more for you :sweat_smile:

**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:
NVIM v0.5.0-dev+1211-g6db3ba9df

Using mkdx 186cf8c

**Reproduce steps**:

`set conceallevel=2`

Edit a markdown file.  Insert a link.  `[test](`

**Expected**:

No problem inserting link.

**Actual**:
All text is concealed after

[2021-04-09 15:43] SidOfc commented on #144
Hey @m-fonseca, no problem, I just tried to reproduce this with an empty markdown file by doing the following:

- Execute `:set conceallevel=2` while editing an empty markdown file
- Press `i` to go into insert mode and type `[test](`

However using my configuration nothing gets hidden, can you try this with mkdx in isolation (e.g. as only loaded plugin)?

[2021-04-09 15:46] SidOfc commented on #144
Ah I see now, to reproduce the markdown file needs to contain some text after the link which will indeed be hidden immediately, oke will check this out.

[2021-04-09 18:17] SidOfc commented on #144
Ok so I have no clue how to prevent this behavior through syntax highlighting, mkdx just redefines a [highlight group](https://github.com/tpope/vim-markdown/blob/855b8915e0857f90cee180e1753ce1910d71c5b1/syntax/markdown.vim#L97) from [tpope's vim-markdown](https://github.com/tpope/vim-markdown) plugin and adds `conceal` to it.

The issue can be avoided by using mkdx's <kbd>PREFIX</kbd><kbd>l</kbd><

[2021-04-09 18:17] #144 closed

[2021-04-13 01:26] m-fonseca commented on #144
Thank you.  Appreciate you looking into it!

[2021-04-13 11:36] SidOfc commented on #144
No problem @m-fonseca, if you find a better solution feel free to let me know, in which case I might be able to implement it as an improvement to mkdx.

Also forgot to mention this, but cheers for all the feedback as well, have a good one :+1:

[2021-04-13 15:30] zetashift opened #145 "mkdx-enter and nvim-compe <CR>"
Hiya! I'm using [compe](https://github.com/hrsh7th/nvim-compe) and [lexima](https://github.com/cohama/lexima.vim) and I can't get snippets to work when I press `<CR>` to insert a snippet on the autocomplete menu. It simply inserts a newline.
This might have to do with mkdx-enter from what I see? I don't think this is a bug or anything, but I'm new to (neo)vim and like to know how I could solve thi

[2021-04-13 18:15] SidOfc commented on #145
Hello @zetashift and welcome to (neo)vim! Yes, this stuff can be tricky sometimes since mkdx does indeed overwrite enter, if it didn't do this things such as list continuation would not work. If you prefer the snippet plugins over mkdx's functionality you can [disable the enter handler](https://github.com/SidOfc/mkdx#gmkdxsettingsenterenable).

 Alternatively I see you're using this snippet to qui

[2021-04-13 20:05] zetashift commented on #145
Ah, thanks!! I use the snippets for easily typing a code fence + language indeed, I might remap it to something different cause I feel like I'm running into this issue more often haha. Or just use mkdx and a lil' bit more typing.

As a followup, is there away to get (smart/auto) indentation in code blocks? E.g.:

[code]
Pressing enter on the vertical bar `|` will result in:

[code]

[2021-04-13 21:26] SidOfc commented on #145
Unfortunately this isn't trivial since every language has different spacing and style rules, I'd say for larger snippets it'd be easier to open a new buffer using `:spl` to create a horizontal split, then `:enew` to empty the buffer, then `:set ft=ruby` or any other language and type your snippet there, then copy it over when you're done. If you need to do this often you can keep the buffer open b

[2021-04-13 21:31] zetashift commented on #145
Alright thank you very much for your help, it's hard to have an universal solution to this, for now I have enough to just get working.

[2021-04-13 23:01] m-fonseca opened #146 "Feature Request: Support jumping to next section with ]] & [["
Hello again!

The operators ]] & [[ are specifically made for jumping to the next and previous "sections".  It would be nice to support this since every markdown heading is a distinct section.  Right now ]] & [[ go to the bottom and top of the file respectively.  I **think** I originally saw this in the pandoc vim plugin.  Useful for getting around quickly through a large doc.

Thanks!

[2021-04-14 10:22] SidOfc commented on #146
Looks like you are right, this is indeed part of vim-pandoc, found it in their [docs here](https://github.com/vim-pandoc/vim-pandoc/blob/0d4b68eb7f63e43f963a119d60a3e29c2bb822e0/doc/pandoc.txt#L431-L432).

Although when checking Vim's native `:h ]]` doc it refers to `:h section` which refers to `:h sections` which seem to talk about something different entirely with regards to what a section is.

[2021-04-14 10:44] SidOfc commented on #145
You are indeed correct about it being hard to find a universal solution, unfortunately there is no way for any mapping to only "overwrite" within some specific context such as a list with mkdx's enter, that would be a great way to potentially solving all of the above!

Anyways I haven't checked out the original issue yet even though I don't have much hope there either, I'll reopen until I've check

[2021-04-14 10:59] zetashift commented on #145
I know almost no VimL, but maybe using something like https://github.com/ikatyang/tree-sitter-markdown one could get the context of what's currently being edited and based on that apply what to do with enter? Treesitter usage is more ergonomic for neovim though and I feel like it's out of scope for this plugin.

Ah that's okay, either way ~bedankt~ thanks for your help!

[2021-04-14 11:27] m-fonseca commented on #146
I think your right about using <kbd>PREFIX</kbd><kbd>I</kbd> for getting around large documents (I must have missed this, nice!).  But it doesn't quiet allow one to brainlessly and quickly move to sections near the cursor (perhaps its onscreen or offscreen).

I guess in the end its all about two things (for me) speed and familuarity.  One could just hold down <kbd>j</kbd> or <kbd>}</kbd> (and othe

[2021-04-14 12:36] SidOfc commented on #146
I see, yes cognitive load will always be a bit higher when having to think about where you're going, I'm a person that usually knows where I want to make my edit so instead of the lighter cognitive load I prefer to get there in a more accurate manner. That aside there is definitely something that can be said about the opposite of that as well.

A "section" is quite an abstract concept as well and

[2021-04-14 12:40] SidOfc commented on #145
The problem lies not within getting the proper context, but only consuming enter while in a specific context in which mkdx could be useful, it is this part that is not doable in VimL which prevents me from allowing more plugins to cooperate / keep working with mkdx.

Another problem with trying to implement tree-sitter is that this plugin should also work with regular vim, therefore I'd have to fi

[2021-04-14 12:50] zetashift commented on #145
Ah I see, I find VimL hard to grok as is. But I'd also say the current behavior is "good enough".

Yeah totally understandable.

Small world!

[2021-04-22 05:33] m-fonseca opened #147 "auto numbering and checkboxes creation when nested sometimes does not work"
**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:
NVIM v0.5.0-dev+1211-g6db3ba9df

Using mkdx 186cf8c

**Reproduce steps**:

Using
[code]
Hitting enter after test2 does not create a numbered list automatically.  This also happens on checkboxes.  The key is they have to be nested and there has to be a /* in the

[2021-04-22 09:42] SidOfc commented on #147
Hey Marco! You're finding a lot of things related to the `*` character :sweat_smile:. The asterisk is used for multiple things in markdown such as italic e.g. `*italic*` and list items: `* list item`. Markdown does not have a strict spec about this unfortunately.

The reason you're seeing syntax highlight glitches is because again, the syntax highlighter thinks you're trying to italicize text.
Thi

[2021-04-22 16:27] m-fonseca commented on #147
So if your wondering to yourself what the heck I'm doing with the markdown,  I have some preprocessor directives in it (c sytle, hence `/*`).  This also makes the workaround you mentioned not possible for me.  I've expect some syntax problems and what not because of this, but I guess I didn't expect it to throw of the whole file, so at this point I guess is more of a question of robustness with fu

[2021-04-22 16:27] #147 closed

[2021-04-24 20:27] dfangx opened #148 "Following/conceal links with vim-pandoc-syntax"
Hi

Is it possible to have the `gf` follow link feature and link concealing also work when using the syntax highlighting from vim-pandc-syntax?

[2021-04-25 23:04] #148 closed

[2021-05-01 15:09] SidOfc commented on #146
Hi again @m-fonseca, I've implemented the feature you requested, if you update to the latest version everything should be working. It supports both `#` and `-----` / `====` headers and also supports count so you can do `2]]` for example. Let me know if you encounter any issues.

I'll close this as well, cheers for the feedback :+1:

[2021-05-01 15:09] #146 closed

[2021-05-02 09:33] m-fonseca commented on #146
Just tried it out, works great!  Thanks so much for this addition!

[2021-05-03 15:06] Mayrixon opened #149 "[Feature request] Highlight code inside code block"
Hello, I'm wondering if it is the design philosophy that it doesn't provide code highlighting inside code blocks. If it's not, is that possible to provide code highlighting?

As I know, both plugin `tpope/vim-markdown` and plugin `plasticboy/vim-markdown` provide code highlighting. Besides, Typora, a famous markdown editor, also provides code highlighting.

If you are concerning about the disrupti

[2021-05-04 10:06] SidOfc commented on #149
Hi @Mayrixon, it is because mkdx does not need to implement this. You can enable this by setting `let g:markdown_fenced_languages` in your .vimrc already. Mkdx does not replace the default markdown files (vim-markdown) but rather, adds more functionality on top of what it already offers.

To enable python and rust highlighting you only need:

[code]

You can get rid of the rest of the code since v

[2021-05-04 10:06] #149 closed

[2021-05-06 06:51] bon-ami opened #150 "duplicate hyphens for lists with plasticboy/vim-markdown"
**OS type**:

- [ ] Unix
- [x] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:
NVIM v0.5.0-746-gf7cc3ae0b
Build type: RelWithDebInfo
LuaJIT 2.1.0-beta3
Compilation: C:/Program Files (x86)/Microsoft Visual Studio/2017/Community/VC/Tools/MSVC/14.16.27023/bin/Hostx86/x64/cl.exe /DWIN32 /D_WINDOWS /W3 /MD /Zi /O2 /Ob1 /DNDEBUG /W3 -D_CRT_SECU

[2021-05-06 09:25] AckslD commented on #125
I have a similar error but for a different key:
[code]

[2021-05-06 09:30] SidOfc commented on #150
Hello @bon-ami,

Unfortunately both mkdx and plasticboy/vim-markdown override enter, this means you'll have to choose to either use mkdx's enter handler or plasticboy's. mkdx enter handler can be disabled by setting `g:mkdx#settings.enter.enable` to `0`, for plasticboy I believe it's this section: https://github.com/plasticboy/vim-markdown#do-not-automatically-insert-bulletpoints

This is a plugin

[2021-05-06 09:30] #150 closed

[2021-05-06 09:39] SidOfc commented on #125
Hello @AckslD,

hmmn can you provide me with some additional information such as which vim you are using and which version?
I'd also like to see any vim config you added related to setting up mkdx.

[2021-05-06 14:03] AckslD commented on #125
Hi @SidOfc! Thanks for your response.

I'm currently on neovim v0.5.0-dev+1265-g66f9dd3c6.

I'm using packer as a package manager as follows:
[code]
together with the file `"./plugin_settings/mkdx.lua"`:
[code]
where I added the `conceal`-value to fix one of the errors.

[2021-05-06 14:56] SidOfc commented on #125
Hmmn I see, I've never actually heard about this package manager before, mkdx does work with all major package managers though so I doubt this is an issue with mkdx itself but rather has to do with the way it's loaded.

mkdx expects the default plugin/mkdx.vim file to be loaded eagerly, I'm not sure if this package manager prevents that from happening. Can you try it without `ft = {'markdown'}`?

[2021-05-07 08:55] AckslD commented on #125
Hmm, interesting, removing `ft = {'markdown'}` indeed solved the issue!

[2021-05-07 09:18] SidOfc commented on #125
Yeah I figured it must have been the way this package manager loads vim plugins, glad the issue is resolved for packer as well by removing the lazy loading aspect :+1:

[2021-05-12 06:06] bon-ami commented on #150
You are the best. The following line commented in vim-markdown
`setlocal comments+=b:*,b:+,b:-`

[2021-05-20 07:16] Battleman opened #151 "Reloading vimrc within Vim breaks"
**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [x] vim
- [ ] neovim
- [ ] Other ([SPECIFY])

**Vim version**: 8.2.716
**Configuration**:
* Plugin manager: Vundle
* Relevant vimrc parts:
[code]
Not sure if the rest of the vimrc is relevant

**Reproduce steps**:
* Open a markdown file `test.md`
* Write anything
* Go to normal mode, type `:so $MYVIMRC` and enter
* Try to

[2021-05-20 11:09] SidOfc commented on #151
Hello @Battleman,

Hmn interesting indeed, does your vim `has('*dictwatcheradd')`? when true, mkdx listens to setting updates and tries to validate them and update the document instantly, this can be disabled by setting `g:mkdx#settings = { 'auto_update': { 'enable': 0 } }`. Maybe this will make a difference.

Additionally, while ugly, could you try guarding the settings block with an if statement

[2021-05-20 12:17] Battleman commented on #151
No, `:echo has('*dictwatcheradd')` -> `0`. I still tried for the sake of it, but adding `'auto_update': { 'enable': 0 }` but it didn't work.

That seems to work :tada: Thanks for the suggestion

[2021-05-20 12:28] Battleman commented on #151
However it feels going against the point of the vimrc. If I modify a mkdx setting, I can't reload the settings file and must either close/open all files, or manually re-enter the changed setting(s) as commands in the editor.

[2021-05-20 16:17] SidOfc commented on #151
Yeah I agree it is certainly subpar but at least you now have a way to resource without seeing a bunch of errors, the next step is figuring out what is actually causing this kind of behavior. I'm certainly not going to call this one done yet until I have at least looked at it :)

In the meantime though, thanks for trying out the guarding tactic, glad that works at least!

[2021-05-21 15:03] SidOfc commented on #151
Oke I haven't fixed this yet but it is quite a hairy issue, when I try moving the settings to different places it actually causes more errors :( In Neovim everything does work, which is also what I primarily use while developing this plugin. I don't think there is a quick fix for this and will have to look into it a bit deeper though so for now the best option is to still use the guard and try not

[2021-05-21 19:13] SidOfc commented on #151
Alright so I figured out a way to make this possible now. It's not pretty but I think any plugin with complex options will have this issue due to the loading order during vim initialization (which is why you'll often see `g:pluginname_some_setting = ...` settings).

I added a wrapper function called `mkdx#configure` which takes 1 argument, the dictionary you would otherwise supply to `let g:mkdx#s

[2021-05-25 08:45] Battleman commented on #151
Confirmed, the following
[code]
works as intended, and allows for vimrc sourcing (with Vundle)

[2021-05-25 09:22] SidOfc commented on #151
Alright, thank you for pointing this out @Battleman, I will go ahead and close this issue, happy vimming :+1:

[2021-05-25 09:22] #151 closed

[2021-05-28 07:14] cands commented on #145
I have a similar conflict with mkdx-enter and completions using coc.nvim, so I needed to disable mkdx-enter, but the functionality of mkdx-enter would be very handy for lists. I wonder would it be possible to have the 'o' (enter.o) and 'O' (enter.shifto) normal mode functions active while mkdx-enter is disabled? Disabling mkdx-enter seems to disable also enter.o and enter.shifto, it would still be

[2021-05-28 15:12] SidOfc commented on #145
@cands I just pushed a commit which should allow this, are you able to verify?

As for the original issue, unfortunately I haven't been able to make any progress with it yet. There are some options that involve storing the old mapping and executing that when mkdx's enter otherwise wouldn't do anything but I haven't gotten anything to work properly and even if it did I believe more bugs than I coul

[2021-05-28 15:12] #145 closed

[2021-05-28 19:00] cands commented on #145
Yes, I verify that it works now, thanks very much @SidOfc for the quick fix! The normal mode functions will be handy.

[2021-05-28 19:11] zetashift commented on #145
Yup, I agree, I think current behaviour is good enough! Thanks for the great plugin :D

[2021-07-12 15:41] AckslD commented on #125
For anyone stumbling on this, a better fix than removing `ft = {'markdown'}` is actually to set the settings using `setup` rather than `config` :)

[2021-09-05 09:51] theduke opened #153 "Documentation - Keybindings Table"
The functionality and documentation of this plugin is truly outstanding!
Great job.

The README could really use a short overview of the available keybindings, though.

Something like:

| Key | Action|
| --- | --- |
| Deadlink detection | `<Prefix>L` |
| ... | ... |

[2021-09-06 22:20] SidOfc commented on #153
Hello @theduke, I believe this is what you are looking for: https://github.com/SidOfc/mkdx#mappings, it's been there all along :)

[2021-09-07 06:48] theduke commented on #153
Yes indeed, exactly what I wanted.

I do suggest moving the mapping table before the settings section though, to make it a bit more discoverable.

[2021-09-07 06:48] #153 closed

[2021-09-07 14:50] SidOfc commented on #153
Glad the issue is solved, I appreciate the suggestion to move the mapping table but I think I will keep it where it is right now for multiple reasons:

- Existing users already know the current position
- The word "mapping" is a common term in the Vim community, a lot of people will ctrl+f it if they don't see it
- The Table of Contents is placed very high on the page, if people ctrl+f "table" the

[2021-11-02 01:53] Mayrixon opened #154 "Feature request: keymappings for wikilinks"
Hello, thank you very much for the effort in providing this amazing plugin!

I'm learning to use markdown-based note-taking software recently, and found it's common to use wiki link syntax in different applications, such as Obsidian and logseq. Although these applications all provide text editors, I still prefer vim/neovim because of the fast input experience. If you don't know what is a wiki link

[2021-11-02 13:50] SidOfc commented on #154
Hello @Mayrixon, thanks for the feedback and the request :)

I managed to achieve something pretty simple using `mkdx#WrapText()` (documented at `:h mkdx-function-wrap-text`):

[code]

This will wrap selected text in `[[]]` marks in Visual mode. Is this what you intended?

[2021-11-02 14:13] Mayrixon commented on #154
Hi @SidOfc , thanks for your quick reply. The mapping you provided is exactly what I want.

I only read the default leader key bindings and didn't notice the function `mkdx#WrapText()`. I would like to add this function to my own leader key mappings.

BTW, would you like to mention wiki links in the readme? There are plenty of ways to add two pairs of brackets in vim, such as `tpope/surround`, but

[2021-11-02 15:25] SidOfc commented on #154
@Mayrixon I wouldn't mind adding some instruction to the README, perhaps you could create a PR with an update to the README? We can then check it out together :)

[2021-11-03 09:35] mareksamec opened #155 "[Feature request] Simple one color highlight for ``` code blocks"
Would it be possible to add simple one color highlight for code blocks (regardless of the code language)? In default vim markdown highlight it is hard to distinguish normal text from code blocks. Added screens below.

This is plain vim with mkdx:
![image](https://user-images.githubusercontent.com/4179518/140037055-2949ed81-3cc1-4517-a8cf-a60de5bb2bba.png)

This is similar section displayed with **

[2021-11-03 13:29] SidOfc commented on #155
Hello @mareksamec!

I see the issue here with distinguishing fenced code blocks, but I think their styling depends on the colorscheme you are using, for me they look like this already:

![image](https://user-images.githubusercontent.com/3225058/140067840-926c496a-1574-4e11-acc0-bcf838a95907.png)

That said, the syntax group for the _content_ of the fenced block (excluding delimiters) is `markdownC

[2021-11-03 13:29] #155 closed

[2021-11-03 13:36] SidOfc commented on #155
I also forgot to mention that some users use additional plugins/settings to get syntax-specific highlighting for their code blocks, mkdx only does this for YAML/JSON frontmatter as to not become too sluggish while detecting / syncing the syntax groups (mixing lots of syntaxes in one file really slows down (n)vim).

[2021-11-07 15:24] Mayrixon commented on #154
Sorry for the late reply. I was busy last week.

It should be ok for me to add some instruction to the README.

I haven't checked the snippet you provided for the global mappings. When making the PR I will have a look at them.

[2021-11-12 12:48] SidOfc commented on #154
And apologies for mine too, I was on a company trip the past few days, didn't open my laptop at all :)

I'm back now though, will happily review a PR, thank you for the effort :+1:

[2022-01-08 00:11] SidOfc commented on #154
Hello @Mayrixon, since there has been no activity for a while I am going to close this issue, feel free to reply if you'd like to see this reopened though. I will still welcome a PR with an update to the README.

Also, happy new year (we're close enough still imo) :D

[2022-01-08 00:11] #154 closed

[2022-01-08 00:30] SidOfc commented on #142
Hello @m-fonseca, I realise I left this issue in the dust. Apologies for that. To be honest with you I don't think it's worth the effort from my part to add this considering the amount of risk I'd be taking of breaking multiple other connected functionalities in addition to some other issues...

This plugin was the first "serious" vim plugin I decided to build, it became a bit of a monstrosity as

[2022-01-08 00:30] #142 closed

[2022-01-12 12:08] m-fonseca commented on #142
No problem.  Thanks for the plugin!

[2022-01-16 07:27] lclrc commented on #143
Compatible with [Pandoc](https://github.com/vim-pandoc/vim-pandoc)? pandoc and it's syntax defined some highlight name, such as `pandocDelimitedCodeBlock`.

Temporarily, I changed:
https://github.com/SidOfc/mkdx/blob/a6fc41f7630e675ca5f0aeb829ad1b88c73a7c63/autoload/mkdx.vim#L1917
To:
[code]
Otherwise, using `o` or `<enter>` on code blocks will delete the line

[2022-01-16 17:18] SidOfc commented on #143
Hello @lclrc,

Cheers for the example code which shows clearly what you want to achieve, and if I understand correctly, it also fixes your issue as well right?

If this is the case, would you mind opening a PR with this fix?

Additionally, I appreciate the effort of you looking for similar issues before just opening a new one 👍. That said, this would have been a solid issue by itself since this is

[2022-01-26 02:23] lclrc commented on #143
@SidOfc Sorry for my late reply! Github did not notify me. :(

yes, but I think the example code is "hard code", maybe I need to test its stability and functionality. And then I will open a PR. :)

[2022-02-20 09:41] AckslD opened #159 "Insert link completion deletes line"
**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [ ] vim
- [x] neovim
- [ ] Other ([SPECIFY])

**Vim version**:

NVIM v0.7.0-dev+907-gb781a6e50

**Reproduce steps**:

Example:

Typing an anchor, for example `[section](#section)` inline deletes the line, see following gif:

![mkdx](https://user-images.githubusercontent.com/23341710/154836867-9ece2604-2efa-4391-a9f6-d9df0d

[2022-02-20 13:20] SidOfc commented on #159
Hi @AckslD, thanks for opening an issue :)

I'd like to verify that this is definitely not a compatibility issue before starting to look into it. Can you disable **all** plugins and **only** load mkdx and then check if the issue still occurs?

If it still happens even with all plugins disabled then it could be some other configuration which is interfering. In this case I would like to see the smal

[2022-02-20 14:27] AckslD commented on #159
@SidOfc Thanks for your response! I tried first to just disable `cmp` at least but the issue is still there. I'm trying to reproduce with a minimal config. I'm trying to use the following:
[code]

but when I run this and type `#` in the link I get the error:
[code]
Any idea why?

[2022-02-20 15:07] SidOfc commented on #159
In my own [`init.lua`](https://github.com/SidOfc/dotfiles/blob/master/init.lua) I do not use the `setup` function of `packer.nvim`. Instead I have a small "plugins" section in which I tell packer which plugins I want. Further down in my configuration, separate sections can be found for each plugin.

Feel free to take a look at how I configured `mkdx`:
- [Definition of `SidOfc/mkdx`](https://github

[2022-02-20 21:54] AckslD commented on #159
Thanks @SidOfc, if I put the `mkdx` settings directly in the `load_plugins` (not in `setup`) of the minimal config above as you do in your config the error indeed goes away and the completion works as expected. So I started including some more things from my config and finally managed to track down the issue to my setting for `:set completeopt=menu,longest`. See the following updated minimal examp

[2022-02-21 11:09] SidOfc commented on #159
Hello again @AckslD, good to hear that configuration is indeed working now. As for the next issue, thank you for supplying the reproduction steps. I did indeed manage to reproduce it.

[Offending code in mkdx/markdown.vim](https://github.com/SidOfc/mkdx/blob/e129e3c7d92477563aeb068628ee0ccdd46ed36e/ftplugin/markdown.vim#L67).

The above code "appends" values to `completeopt` as to not overwrite us

[2022-02-21 11:28] AckslD commented on #159
Sounds good @SidOfc, thanks for a great plugin :)

[2022-02-21 11:44] SidOfc commented on #159
@AckslD cheers, I try :)

I noticed while playing around that this seems to be caused by the `menu,longest` configuration. Even when I locally disabled the code which appends to `completeopt` it still broke. For this reason, I decided to overwrite `completeopt` in markdown buffers instead of just appending to it.

You should be able to update and verify that the current line is no longer removed n

[2022-02-21 12:05] AckslD commented on #159
I would really prefer to keep my setting for `completeopt` since this affects also completion of other things and I like to have the completion insert the match directly if there is only one for example.

I realise now that I misunderstood your earlier comment, I think a better option (although I don't know exactly how to do this) would be to not set `completeopt` at all but rather try to find out

[2022-02-21 12:23] AckslD commented on #159
I looked into the code a bit and it seems the `completefunc` is not used in a normal way. Instead of returning the list of matches there is instead a call to `Grep`, [here](https://github.com/SidOfc/mkdx/blob/master/autoload/mkdx.vim#L1253). Why is that? Does `Grep` manually replace the text instead of passing the results to vim's handling of completion matches? Just trying to understand the behav

[2022-02-21 14:44] SidOfc commented on #159
@AckslD the code you are disabling right now is code which can potentially asynchronously fetch headings (taking a look at the implementation of `s:util.Grep` will clarify further).

I did this to make sure that the editor does not freeze for too long. Especially in large markdown files walking over each line and performing a regex becomes a bit sluggish.

The file you are testing with is likely n

[2022-02-21 16:16] AckslD commented on #159
@SidOfc I completely understand and no problem! :)

I think I know roughly understand the code I think and might try to figure out what's actually going on. In the meantime opting out from fragment link completion is indeed an option.

I tried to play around a bit and see what's going on and if I set `completeopt=menu,preview` and then type `#` in insert mode it actually crashes `nvim` :grimacing:

[2022-02-21 17:09] SidOfc commented on #159
Kudos for that mindset @AckslD, I think `mkdx.nvim` as a Neovim-only Lua plugin will become a reality at some point though no plans yet here :)

One final question remains, what should be done with this issue? Technically mkdx should not remove lines anymore when autocompleting.

Also, I think it's my wonky "programming" from the past which may cause some `invalid_pointer` error, I'm fairly certai

[2022-02-21 17:16] AckslD commented on #159
What do you think about having the option to opt-out of the async part for now at least?

On another note, at least for my part, I'd actually prefer to have the option to only set the `completefunc` and not bind the keys (eg `#`) in insert mode. This is not actually related to the issue at hand by I prefer to trigger completion manually and don't actually use auto-completion otherwise. I do use `c

[2022-02-21 19:45] SidOfc commented on #159
@AckslD I've added two new settings (which are currently undocumented) which should give you the control you are looking for. The relevant changes are visible in [this commit](https://github.com/SidOfc/mkdx/commit/b697314444fec714e65b1ef081b4541c65c61cc0) (I had a reference to this issue included, but it got trimmed somehow).

Setting `pumheight` to `0` will prevent `pumheight` from being modified

[2022-02-23 12:40] AckslD commented on #159
@SidOfc Looks good. Btw, I think the main issue was that `complete_add` was called on the first call to `completefunc` which is not the intended way. I opened #160 which fixes this. In #160 I don't have the issue anymore, even using `:set completeopt=menu,longest` and the minimal example above does not crash `nvim` anymore.

[2022-02-23 13:14] SidOfc commented on #159
@AckslD cheers for the PR and all your efforts, will check it out and merge if all looks good 👍

[2022-02-23 13:21] #159 closed

[2022-02-27 03:34] lee-shun opened #161 "enter function appears weird when the completion menu showing up"
Thank you for your excellent plugin!

**OS type**:

- [x] Unix
- [ ] Windows
- [ ] Other ([SPECIFY])

**Vim**:

- [x] vim
- [ ] neovim
- [ ] Other ([SPECIFY])

**Vim version**:
1. i have the following in my vimrc to use  deoplete.nvim
[code]
2. and for mkdx:
[code]

**Reproduce steps**:

1. when I try to input with complete menu powered by deoplete.nvim, enter will not change a new line:
![屏幕截图_1]

[2022-02-27 15:51] lee-shun commented on #161
got one possible solution:

It seems the popup menu take in the "cr" to confirm rather than actually insert a "\n"

So I put the following code in "after/ftplugin/markdown.vim"

[code]

Then it works well...

[2022-02-27 15:58] SidOfc commented on #161
Hello @lee-shun!

Would you mind forking mkdx and submitting a PR with the change you made? I'll have a look at it today and if all is well I'll merge it. Cheers for your efforts 👍

[2022-02-27 16:38] lee-shun commented on #161
Thank you and this excellent plug! Cheers!

[2022-02-27 23:18] SidOfc commented on #161
@lee-shun you should now be able to enable the behaviour by setting `:let g:mkdx#settings.enter.close_pum = 1` (in vimrc this must be written like `let g:mkdx#settings = {'enter': {'close_pum': 1}}`).

Leaving this open for you to confirm whether it works 👍

[2022-02-28 00:39] lee-shun commented on #161
Just tested this neeeeew feature, Perfect!

[2022-02-28 00:40] #161 closed

[2022-02-28 09:17] SidOfc commented on #161
Haha thanks!

Also cheers for reporting and doing the actual work, implementation was easy thanks to your efforts and may prove useful to people using other completion plugins as well 👍

Enjoy :)

[2022-02-28 15:41] lyndhurst opened #162 "Jump to header not working with wiki links"
**OS type**:
Unix
**Vim version**:
For vim: 8.2

Hi,

The `mkdx-jump-to-header` function works fine when the fragment link is located within a regular markdown link, but it is not working for me when inside a 'wiki-link'.

I would not open an issue since your plugin is designed for markdown, but after reading #154 , I thought that if mappings are going to support ' wiki-links ', we might as well b

[2022-02-28 15:58] SidOfc commented on #162
Hello @lyndhurst, cheers for opening an issue!

What `mkdx-jump-to-header` does is gather a list of document headers (lines starting with one or more `#` or setex-style `---` and `===` headers) and collects them in a quickfix list (or fzf integration if you used the snippet) for you to select where to jump.

Are you sure this is an issue with `mkdx-jump-to-header` and not for example fragment link

[2022-02-28 16:46] lyndhurst commented on #162
Hi, Thanks a lot for replying so quickly.

I might be lost a little, sorry about that. In my mind what you are describing above is `mkdx-quickfix-toc`, and the mapping I was trying to use on 'wiki links' is `<Plug>mkdx-jump-to-header` which I would describe as a 'follow link' type of action which optionally adds the current position to the jump list.

What I am trying to achieve is to follow a 'fr

[2022-02-28 17:40] SidOfc commented on #162
Ah thank you so much for clarifying @lyndhurst, the provided `[[See section|#section]]` example  is very clear 👍 I think I may have also confused myself here, you are indeed correct about the functionalities of `mkdx-quickfix-toc` vs `mkdx-jump-to-header`. I think this should be fairly easy to support as well.

Will get to it as soon as I have some free time on my hands, thanks again for the feedb

[2022-02-28 18:04] lyndhurst commented on #162
Nice, I am glad you feel it will be possible to support, it is a nice addition.

On my part, if you still need an update to the 'readme' with 'wiki link' examples as mentioned in #154 , I could try to give it a go. I say the 'readme' because this is how it is addressed in the issue, but I do not really see what could be added there, it might be the vim help page that you guys were talking about. I

[2022-02-28 21:46] SidOfc commented on #162
Hi @lyndhurst, support should be implemented now, updating mkdx should make it work.

That said, it matches `[[#anchor|description]]` as I gathered from [MediaWiki](https://www.mediawiki.org/wiki/Help:Links#Internal_links) that this is the correct order.

It is still pretty easy to change this or to add some setting to control where the anchor should go however I wonder if this is needed. I might

[2022-03-01 08:08] lyndhurst commented on #162
Wow, that was quick! Yes, I can confirm that it is working now, and you were right about the format, the URL comes first. Thank you again for your time.

[2022-03-01 11:41] SidOfc commented on #162
No problem, thank you for the feedback as well :)

Enjoy 👍

[2022-03-01 11:41] #162 closed

[2022-03-12 03:24] kdallen000 opened #163 "Lists do not indent as expected"
When adding a new item to a list in which the previous item is indented/nested, the new item is unindented.  Looking at the example gifs, I don't think this is the expected behavior, but it's completely possible that I'm just not understanding how to use the plugin!

There are other related issues regarding indentation and alignment, but this is the easiest to explain, so I figure it's a good plac

[2022-03-12 08:38] lyndhurst commented on #163
Hi,
I am not a maintainer nor am I affiliated with the project in any way, I am simply a fellow user. I was browsing the latest issues to see if I could find anything related to a completely unrelated problem I am trying to deal with.

Anyway, the "steps to reproduce" sequence you submitted works fine on my vim setup. Maybe you should try enabling `enter.o` and `enter.shifto` in your settings. Mor

[2022-03-12 12:35] SidOfc commented on #163
Hi @kdallen000!

I think @lyndhurst is on point in mentioning the `settings.enter.o` and `settings.enter.shifto` settings, thanks you for helping out Lyndhurst! 👍

Please let me know if you still experience issues after enabling them, I will leave this open for you to confirm @kdallen000 :)

[2022-03-12 15:29] kdallen000 commented on #163
Thanks both for your help here!  I performed a quick test with lyndhurst's settings, and I still see the problematic behavior.  Didn't have much time to tinker, admittedly, as I'm on my way out the door.

If it's any help, here is another symptom:
When in insert mode, trying to introduce indentation, I get this kind of behavior, where the '-' does not move over, not sure whether this is expected b

[2022-03-12 17:02] lyndhurst commented on #163
@kdallen000 there is no list indentation in insert mode as far as i know; this is quite an extensive plugin with a lot of features, imho the best way to understand how the settings work is to really allocate a substantial amount of time playing with it, but above all going through the whole readme carefully. I am afraid it is not the kind of plugin you can try out quickly and get a real feel of wh

[2022-03-12 17:14] SidOfc commented on #163
Hello again @kdallen000, I _think_ I've found the issue. The regular expressions I wrote originally only took into account spaces, thus tab based list indentation was ignored causing it to unindent. It should now work accordingly though. Can you update mkdx and try it out?

And @lyndhurst so just to confirm for my own understanding, you want to request a feature to add support for insert mode inde

[2022-03-12 17:46] kdallen000 commented on #163
@SidOfc After updating mkdx, the problem is resolved!  Thanks so much for the quick fix.  Feel free to close out this issue once @lyndhurst 's questions are all sorted out.

[2022-03-12 18:27] SidOfc commented on #163
I'll go ahead and close this one already since it has been resolved, cheers for the quick reply! For other issues or feature requests new issues should be opened :)

Thank you both @kdallen000 and @lyndhurst 👍

[2022-03-12 18:27] #163 closed

[2022-03-13 14:51] samarulmeu commented on #128
Hello!

I do not start a new issue and hope you will get this message.

I started again using CriticMarkup and I find that the highlight option is not rendered nice. Will it be possible to have it only yellow background (no italic and bold, as to not mess with text formatting).

Thank you!

[2022-03-13 16:41] SidOfc commented on #128
Hello @samarulmeu, long time since I heard from you :)

CriticMarkup, like any other highlighting added by mkdx, has its own highlighting groups. It is dependent on your theme how these will turn out but you can always manually override them by restyling them in your vimrc. See `:h mkdx-highlight-critic-add` for example, there you can find a list of all CriticMarkup highlight groups and what they

[2022-03-14 11:39] samarulmeu commented on #128
Hello @SidOfc!

Thanks for the explanation. I managed to change the colors and font attributes.

I was silent because the plugin is just working great. Nothing to complain ;). But I am following all the issues and improvements.

Again, great work!

[2022-03-14 14:01] SidOfc commented on #128
Cheers @samarulmeu, and yeah no worries of course, happy to see recurring names :)

Awesome that you found a solution too, in most cases you can probably find hints in the help file or even the README, both are quite expansive :)

[2022-03-22 13:38] lyndhurst opened #165 "Jump to header functionality stopped working with inline fragment links"
Hi,

I found out a few days ago that `mkdx-jump-to-header` stopped working on my computer with markdown inline links.

It is still working with 'wiki links' so I am wondering if it is related to #162 .

It would be helpful to know if you can reproduce it, Thanks in advance.

[2022-03-22 17:24] SidOfc commented on #165
Hi @lyndhurst, indeed I can reproduce, might have been testing the "live" version of mkdx while I was working on #162 🤦

Will check it out, cheers 👍

[2022-03-22 17:41] SidOfc commented on #165
All of the following should now work:

[code]

Leaving this open for you to confirm as usual, thanks again for the report in the meantime 👍

[2022-03-22 18:01] lyndhurst commented on #165
Yes, working again :+1:
Thank you for fixing it so quickly.

[2022-03-22 18:29] SidOfc commented on #165
No problem, happy Vimming!

[2022-03-22 18:29] #165 closed

[2022-04-08 07:56] lyndhurst opened #166 "mkdxLink highlight group improvments"
Hi,

I was wondering if it could be possible to include two edge cases in the mkdxLink highlight group.

1. In the case of url links with an "anchor" included, the highlight group stops at the `#` anchor symbol
    Example: `https://www.blog.com/post#section`
2. Sometimes it is just easier to omit the `https://` altogether
    Example: `www.google.com`

I hope it is not too much trouble, thank you

[2022-04-08 10:01] SidOfc commented on #166
Hi @lyndhurst, I might be able to add URL fragment support and expand `mkdxLink` a bit to support more links that GitHub also recognizes when typing markdown. It won't allow you to simply "omit" `https://` though. It would still need to be prefixed with at least `www.` then for example (this is what GitHub supports).

Users will also not really be able to type `mail.google.com` and have it show up

[2022-04-08 10:12] lyndhurst commented on #166
Nice, thank you. The fragment link case was the main reason I opened the issue, the second case was just a thought. :+1:

[2022-04-08 15:43] #166 closed

[2022-04-08 15:46] SidOfc commented on #166
Should be good now, actually managed to make it quite a bit more flexible so it can also handle common-ish prefixes such as `ww1.somewhere.com`:

<img width="880" alt="image" src="https://user-images.githubusercontent.com/3225058/162476791-a1034b44-37f5-4587-bad7-7fc003320b8b.png">

For reference, this is how each of these links is parsed by GH:
- https://https-url.com
- http://http-url.com
- //in

[2022-04-08 16:52] lyndhurst commented on #166
Thank you for being so reactive (as always!), I will only be able to check it tomorrow or later tonight though.
The extra parsing reference are a nice piece of info too, cheers :+1:

[2022-04-08 18:33] SidOfc commented on #166
I do my best, thank you for the appreciation! And by all means, if the issue is not fixed, please do reopen or request for me to reopen if you can't 👍

[2022-04-17 11:48] piotryordanov opened #167 "Using + for lists"
Hey, first off, thanks a lot for this awesome plugin!

I was wondering if it is possible to create unordered lists with the `+` sign instead of the `-` sign.

I looked around the docs, and couldn't find a way to add symbols.

Thx in advance!

[2022-04-17 14:25] SidOfc commented on #167
The documentation is rather large, it seems like the setting you want is: [g:mkdx#settings.tokens.enter](https://github.com/SidOfc/mkdx#gmkdxsettingstokensenter) :)

By default, mkdx understands `['-', '*', '>']` as things which require "special" handling when pressing enter. You can add `+` to this list and it'll work.

I've tested this locally so I'm fairly certain I can close this issue, if thi

[2022-04-17 14:25] #167 closed

[2022-04-17 16:23] piotryordanov commented on #167
God dammit I knew it was somewhere and I missed it 🤣
I had found the one for checkboxes but didn't see this one!

Thx for the help 🙏

[2022-04-27 05:59] samarulmeu opened #168 "Markdown heading and tags using # display"
Hello again!

I am trying to enter the world of Zettelkasten using vim. More or less the workflow is working and I can generate tags and navigate them. There is something a little bit annoying in the way that a tag (like `#tag1` in the picture below) is displayed. I am wandering if it not possible to be displayed the way `#tag2` is. So if we have `#space` be considered a heading and `#character` b

[2022-04-28 00:50] SidOfc commented on #168
Hello @samarulmeu, I don't think I really need to do anything here, you can define your own syntax highlighting groups which load only for markdown files for exactly these kinds of use cases. Additionally, you can link your highlight groups to groups provided by mkdx so that they are highlighted the same way.

For me to implement this wouldn't be that difficult, but it seems a bit niche to me and

[2022-04-28 04:51] samarulmeu commented on #168
Hello @SidOfc!

I can understand your point in seeing my request/suggestion as a bit niche and in a way you are right. Although :grin:, I looked into the ["official" markdown specification](https://daringfireball.net/projects/markdown/syntax#header) and, although not specifically stated, all the examples show headers starting always with a space after `#`.

Now it is common to consider that `#tag`

[2022-04-28 04:52] samarulmeu commented on #168
I did not reopened the issue, but maybe it will be nice to have an option to turn on/off for this? :grin:

[2022-04-28 09:48] SidOfc commented on #168
So this issue actually has a different underlying reason if I understand correctly.
Is mkdx folding enabled which is causing this issue for example?

Additionally, this is one feature coming from "just" one user, but it requires adding "yet another" option. Adding options requires documenting them, requires keeping into account everything else that has to interact with them.

It's barely ever simp

[2022-04-28 11:17] samarulmeu commented on #168
More or less. I still think that in an markdown file only lines starting with `# ` should be considered as **Heading 1**, and lines that start like `#some_word` not be considered Heading 1.

Actually the folding is working as expected in mkdx, but, as mkdx supports only fence and toc, I have some other function for folding. Maybe I should improve that.

It is OK. No problem. I understand your appr

[2022-04-28 21:20] SidOfc commented on #168
Hi @samarulmeu, I actually had the great idea to just "try" `#some_word` in the very editor we use to write comments, turns out I'm just ignoring the spec for some reason because:

<img width="283" alt="image" src="https://user-images.githubusercontent.com/3225058/165846583-d87b524a-5d5f-410f-9d90-b618a3473e19.png">

does not look like a H1 to me. This also means your thoughts are actual "fact" 😅

[2022-04-28 21:46] SidOfc commented on #168
I ended up doing the "inverse" by creating `mkdxTag` instead of overwriting `markdownH1` as that would require me to keep it up to date with the original implementation used in Vim. This will make sure that `#nonwhitespace` will be highlighted as `mkdxTag`.

I'm not sure if you have the ability to close this issue, but I'll let you confirm if this works for you regardless.